@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-image-and-text-styles {
  .block {
    width: getImageAndText(block-width);
    background: rgba(2, 13, 28, 0.73);
  }
  .image {
    width: 100%;
    height: getImageAndText(image-height);
    border-radius: calcVW(16) calcVW(16) 0 0;
  }
  .text {
    @include font-style(getImageAndText(text-fz), variables.$fw-700, getImageAndText(text-lh), #fff);
    padding: getImageAndText(text-p);
  }
}
