@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-add-specialist-styles {
  .mainWrapper {
    @include flex(center, center, row, null);
    width: max-content;
    border-radius: 16px;
    background-color: variables.$transparent-black;
    padding: getAddSpecialistSizes(main-wrapper-padding);
    gap: getAddSpecialistSizes(main-wrapper-gap);
  }

  .mainWrapper:hover {
    outline: 1px solid variables.$dodger-blue;
  }

  .countSpecialist {
    @include flex(null, center);
    .input {
      background: transparent;
      text-align: center;
      border: none;
      width: 15px;
      padding: 0;
      height: getAddSpecialistSizes(icon-plus-height);
      // pointer-events: none;
      // caret-color: transparent;

      @include font-style(
        getAddSpecialistSizes(count-specialist-fz),
        variables.$fw-500,
        getAddSpecialistSizes(count-specialist-lh),
        variables.$dark-turquoise
      );

      &:focus-visible {
        border: none;
      }
      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }

  .minusIcon {
    width: getAddSpecialistSizes(icon-minus-width);
    height: getAddSpecialistSizes(icon-minus-height);
    cursor: pointer;
  }

  .plusIcon {
    width: getAddSpecialistSizes(icon-plus-width);
    height: getAddSpecialistSizes(icon-plus-height);
    cursor: pointer;
  }

  .nameSpecialist {
    @include flex(null, center);
    @include font-style(
      getAddSpecialistSizes(name-specialist-fz),
      variables.$fw-500,
      getAddSpecialistSizes(name-specialist-lh)
    );
    text-align: center;
  }
}
