@import "../../abstract/functions";
@import "../../base/variables";

$add-specialist-sizes:(
main-wrapper-width:calcVW(245),
main-wrapper-height:calcVW(56),
main-wrapper-padding:calcVW(16),
main-wrapper-gap:calcVW(16),
count-specialist-fz:calcVW(14),
name-specialist-fz:calcVW(14),
name-specialist-lh:calcvW(24),
icon-minus-width:calcVW(16),
inon-minus-height:calcVW(2),
icnn-plus-width:calcVW(16),
icon-plus-height:calcVW(16),
);


@function  getAddSpecialistSizes($property){
    @return map-get($add-specialist-sizes, $property);
}