@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-footer-styles {
  .footerWrapper {
    background: variables.$black-light;
    position: relative;
    z-index: 10;
    padding: getFooterSizes(footer-wrapper-padding);
    .footerBlock {
      justify-content: space-between;
    }
    .infoWrapper {
      .footerLogo {
        width: getFooterSizes(footer-logo-width);
        height: getFooterSizes(footer-logo-height);
      }
    }

    .textTitle {
      margin-bottom: getFooterSizes(footer-text-title-mb) !important;
      @include font-style(
        getFooterSizes(footer-text-title-fz),
        variables.$fw-700,
        getFooterSizes(footer-text-title-lh),
        #fff
      );
    }
    .text {
      margin-bottom: getFooterSizes(footer-text-mb) !important;
      @include font-style(getFooterSizes(footer-text-fz), variables.$fw-400, getFooterSizes(footer-text-lh), #fff);
    }

    .socialIconsWrapper {
      .socialIcons {
        margin-right: getFooterSizes(footer-social-mr);
        width: getFooterSizes(footer-social-width);
        height: getFooterSizes(footer-social-height);
      }
      .socialIconsTitle {
        width: 100%;
      }
    }
  }

  @media (max-width: 1024px) {
    .footerWrapper {
      padding: calcVWT(24);
      position: relative;
      .footerBlock {
        flex-wrap: wrap;
        row-gap: calcVW(200);
      }
      .companyInfoWraper {
        max-width: calcVWT(248);
      }
      .infoWrapper {
        margin-right: 0;
        position: unset;
        .footerLogo {
          width: calcVWT(90);
          height: calcVWT(40);
        }
      }
      .textTitle {
        @include font-style(calcVWT(18), variables.$fw-700, calcVWT(24), #fff);
      }
      .text {
        @include font-style(calcVWT(18), variables.$fw-400, calcVWT(24), #fff);
      }
      .companyWrapper {
        max-width: calcVWT(248);
      }
      .socialIconsWrapper {
        column-gap: calcVWT(20);
        flex-wrap: wrap;
        display: flex;
        max-width: calcVWT(200);
        align-self: baseline;

        .socialIcons {
          width: calcVWT(25);
          height: calcVWT(25);
          object-fit: cover;
          margin-bottom: calcVWT(20);
        }
      }
    }
  }

  @media (max-width: 576px) {
    .footerWrapper {
      padding: calcVWM(24) calcVWM(16);
      position: relative;
      .footerBlock {
        flex-wrap: wrap;
        row-gap: calcVWM(32);
      }
      .companyInfoWraper {
        margin-right: 1;
        width: 100%;
        position: unset;
        max-width: 100%;
       
      }
      .infoWrapper{
        .footerLogo {
          width: calcVWM(90);
          height: calcVWM(40);
        }
      }
      .expertiseWrapper {
        order: 2;
        width: calcVWM(150);
        margin: 0;
      }
      .companyWrapper {
        order: 3;
        min-width: calcVWM(150);
      }
      .socialIconsWrapper {
        order: 4;
        align-self: flex-start;
        min-width: 100%;
        max-width: 100%;
        display: flex;
        column-gap: calcVWM(25);
        .socialIcons {
          width: calcVWM(25);
          height: calcVWM(25);
          margin-top: calcVW(18)
        }
      }
      .textTitle {
        @include font-style(calcVWM(18), variables.$fw-700, calcVWM(22), #fff);
      }
      .text {
        @include font-style(calcVWM(18), variables.$fw-400, calcVWM(24), #fff);
      }
    }
  }
}
