@import "../../abstract/functions";
@import "../../base/variables";

$projects-sizes: (
  projects-wrapper-padding: calcVW(0) calcVW(284) calcVW(78) calcVW(284),
  projects-title-padding: calcVW(85) calcVW(0) calcVW(54) calcVW(0),
  projects-button-wrapper-mt: calcVW(55),
);

@function getProjectsSizes($property) {
  @return map-get($projects-sizes, $property);
}
