@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-bordered-text-styles {
  .text {
    font-size: getBorderedTextSizes(bordered-text-fs);
    line-height: getBorderedTextSizes(bordered-text-lh);
    -webkit-text-stroke: 1px #56ccf2;
    text-stroke: 1px #56ccf2;
    position: relative;
    color: transparent;
    @media (max-width: 1024px) {
      @include font-style(calcVWT(128), variables.$fw-600, calcVWT(156));
      color: transparent;
    }
  }
}
