@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-team-item-styles {
  .teamItemWrapper {
    padding: getTeamItemSizes(team-item-wrapper-padding);
    .titleWrapper {
      align-items: center;
      .img {
        width: getTeamItemSizes(team-icon-img-width);
        height: getTeamItemSizes(team-icon-img-height);
      }
      .title {
        margin-left: getTeamItemSizes(title-ml);
        @include font-style(
          getTeamItemSizes(title-fz),
          variables.$fw-400,
          getTeamItemSizes(title-lh),
          #fff
        );
      }
    }

    .desc {
      margin-top: getTeamItemSizes(desc-mt);
      @include font-style(
        getTeamItemSizes(desc-fz),
        variables.$fw-400,
        getTeamItemSizes(desc-lh),
        #fff
      );
    }
    .moreWrapper {
      text-align: end;
      margin-top: getTeamItemSizes(more-mt);
      .more {
        @include font-style(
          getTeamItemSizes(more-fz),
          variables.$fw-400,
          getTeamItemSizes(more-lh),
          #fff
        );

        img {
          width: getTeamItemSizes(more-img-width);
          height: getTeamItemSizes(more-img-height);
        }
      }
    }
    @media (max-width: 768px) {
      max-width: 100%;
      .desc {
        @include font-style(calcVW(40), variables.$fw-400, calcVW(60), #fff);
      }
      .titleWrapper {
        .img {
          width: calcVW(80);
          height: calcVW(80);
        }
        .title {
          margin-left: getTeamItemSizes(title-ml);
          @include font-style(calcVW(60), variables.$fw-400, calcVW(60), #fff);
        }
      }
      .moreWrapper {
        .more {
          @include font-style(
            calcVW(50),
            variables.$fw-400,
            getTeamItemSizes(more-lh),
            #fff
          );

          img {
            width: calcVW(40);
            height: calcVW(40);
          }
        }
      }
    }
  }
}
