@import "../../abstract/functions";
@import "../../base/variables";

$team-item-sizes: (
  team-icon-img-width: calcVW(42),
  team-icon-img-height: calcVW(42),
  title-ml: calcVW(15),
  title-fz: calcVW(30),
  title-lh: calcVW(36),
  desc-mt: calcVW(15),
  desc-fz: calcVW(22),
  desc-lh: calcVW(26),
  more-mt: calcVW(15),
  more-img-width: calcVW(10),
  more-img-height: calcVW(16),
  more-fz: calcVW(22),
  more-lh: calcVW(26),
);

@function getTeamItemSizes($property) {
  @return map-get($team-item-sizes, $property);
}
