@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-title-with-description-styles {
  .block{
    width: getTitleWithDescriptionSizes(block-width);
    height: getTitleWithDescriptionSizes(block-height);
    padding: getTitleWithDescriptionSizes(block-p);
    @include flex(center, flex-start, column);
    row-gap: getTitleWithDescriptionSizes(block-rg);

    .title{
      @include font-style(
          getTitleWithDescriptionSizes(title-fs),
          variables.$fw-500,
          getTitleWithDescriptionSizes(title-lh),
        );
    }
    .description {
      @include font-style(
          getTitleWithDescriptionSizes(description-fs),
          variables.$fw-400,
          getTitleWithDescriptionSizes(description-lh),
        );
    }
  }
}
