@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-home-main-with-image-styles {
  .content {
    overflow: hidden;
    .breadcrumb {
      top: calcVW(130);
      left: calcVW(320);
      position: absolute;
      z-index: 1000;
      border-radius: calcVW(8);
      overflow: hidden;
      li {
        background: rgba(255, 255, 255, 0.32);
        padding: calcVW(6) calcVW(12);
        border-right: 2px solid black;
      }
      li:last-of-type {
        background: #000;
        border-right: 0;
      }
      :global(.ant-breadcrumb-link) {
        @include font-style(calcVW(20), variables.$fw-500, normal);
        text-decoration: revert;
      }
      :global(ol) {
        li:last-of-type {
          :global(.ant-breadcrumb-link) {
            pointer-events: none;
            text-decoration: none;
          }
        }
      }
      :global(.ant-breadcrumb-separator) {
        @include font-style(calcVW(20), variables.$fw-700, normal);
        margin: 0 calcVW(8);
      }
    }
  }
  .portfolioItem {
    overflow: unset;
  }
  .socialSites {
    position: fixed;
    width: calcVW(440);
    z-index: 1;
    transform: rotate(-90deg);
    left: getHomeMainWithImage(social-sites-lp);
    top: getHomeMainWithImage(social-sites-tp);
    @include flex(flex-start, center);
    column-gap: getHomeMainWithImage(social-sites-cg);

    .site {
      column-gap: getHomeMainWithImage(site-cg);
      @include flex(center, center);
      .image {
        object-fit: cover;
        width: getHomeMainWithImage(sites-image-width);
        height: getHomeMainWithImage(sites-image-width);
      }
      .text {
        @include font-style(
          getHomeMainWithImage(text-fs),
          variables.$fw-500,
          getHomeMainWithImage(text-lh)
        );
      }
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .socialSitesTop {
    right: calcVW(-180);
    top: calcVW(600);
    left: auto;
    z-index: 1000;
  }
  @media (max-width: 576px) {
    .content {
      padding-top: calcVWM(70);
    }
  }
}
