@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-home-main-with-image-styles {
  .content {
    overflow: hidden;

    .breadcrumb {
      top: calcVW(130);
      left: calcVW(320);
      position: absolute;
      z-index: 998;
      border-radius: calcVW(8);
      overflow: hidden;

      ol {
        @media (max-width: 576px) {
          flex-wrap: nowrap;
          overflow-x: scroll;
          width: calcVWM(335);
        }
      }

      li {
        background: rgba(255, 255, 255, 0.32);
        padding: calcVW(6) calcVW(12);
        border-right: 2px solid black;
        display: flex;
        align-items: center;
        height: calcVW(32);

        a {
          white-space: nowrap;
        }
      }

      li:last-of-type {
        background: #000;
        border-right: 0;
      }

      :global(.ant-breadcrumb-link) {
        @include font-style(calcVW(20), variables.$fw-500, normal);
      }

      :global(ol) {
        li:last-of-type {
          :global(.ant-breadcrumb-link) {
            pointer-events: none;
            text-decoration: none;
          }
        }
      }

      :global(.ant-breadcrumb-separator) {
        @include font-style(calcVW(20), variables.$fw-700, normal);
        margin: 0 calcVW(8);
      }

      @media (max-width: 1024px) {
        top: calcVWT(130);
        left: calcVWT(24);
        border-radius: calcVWT(8);

        li {
          padding: calcVWT(3.1) calcVWT(12);
          white-space: pre;
          height: calcVWT(32);
        }

        :global(.ant-breadcrumb-link) {
          @include font-style(calcVWT(20), variables.$fw-500, normal);
        }

        :global(.ant-breadcrumb-separator) {
          @include font-style(calcVWT(20), variables.$fw-700, normal);
          margin: 0 calcVWT(8);
        }
      }

      @media (max-width: 576px) {
        top: calcVWM(90);
        left: calcVWM(24);
        border-radius: calcVWM(8);

        li {
          padding: calcVWM(3) calcVWM(8);
          height: calcVWM(32);
          align-items: center;
          display: flex;
        }

        :global(.ant-breadcrumb-link) {
          @include font-style(calcVWM(20), variables.$fw-500, normal);
          text-decoration: none;
        }

        :global(.ant-breadcrumb-separator) {
          @include font-style(calcVWM(20), variables.$fw-700, normal);
          margin: 0 calcVWM(8);
        }
      }
    }
  }

  .portfolioItem {
    overflow: unset;
  }

  .socialSites {
    position: fixed;
    z-index: 11;
    transform: rotate(-90deg);
    left: getHomeMainWithImage(social-sites-lp);
    top: getHomeMainWithImage(social-sites-tp);
    width: calcVW(440);

    .socialSitesValues {
      width: max-content;
      column-gap: getHomeMainWithImage(social-sites-cg);
      @include flex(flex-start, center);
    }

    .site {
      column-gap: getHomeMainWithImage(site-cg);
      @include flex(center, center);

      .image {
        object-fit: cover;
        width: getHomeMainWithImage(sites-image-width);
        height: getHomeMainWithImage(sites-image-width);
      }

      .text {
        white-space: nowrap;
        font-size: getHomeMainWithImage(text-fs);
        font-weight: variables.$fw-500;
        font-size: getHomeMainWithImage(text-lh);
        
      }

      &:hover {
        .image {
          filter: invert(62%) sepia(10%) saturate(6446%) hue-rotate(169deg) brightness(86%) contrast(99%);
          transition: 0.3s;
        }

        .text {
          color: variables.$light-blue !important;
          transition: 0.3s;
        }
      }
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .socialSitesTop {
    cursor: pointer;
    right: calcVW(-180);
    top: 60%;
    left: auto;
    z-index: 1000;
    display: flex !important;
  }

  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .content {
      .breadcrumb {
        top: calcVWL(130);
        left: calcVWL(320);
        border-radius: calcVWL(8);

        li {
          padding: calcVWL(6) calcVWL(12);
        }

        :global(.ant-breadcrumb-link) {
          @include font-style(calcVWL(20), variables.$fw-500, normal);
        }

        :global(.ant-breadcrumb-separator) {
          @include font-style(calcVWL(20), variables.$fw-700, normal);
          margin: 0 calcVWL(8);
        }
      }
    }

    .socialSites {
      width: calcVWL(440);
      left: calcVWL(-180);
      top: calcVWL(400);

      .socialSitesValues {
        column-gap: calcVWL(32);
      }

      .site {
        column-gap: calcVWL(16);

        .image {
          width: calcVWL(24);
          height: calcVWL(24);
        }

        .text {
          @include font-style(calcVWL(20), variables.$fw-500, calcVWL(24));
        }
      }
    }

    .socialSitesTop {
      right: calcVWL(-180);
      left: auto;
    }
  }

  @media (max-width: 1024px) {
    .socialSites {
      .site {
        column-gap: calcVWT(16);
        @include flex(center, center);

        .image {
          width: calcVWT(24);
          height: calcVWT(24);
        }

        .text {
          @include font-style(calcVWT(20), variables.$fw-500, normal);
        }
      }
    }
  }

  @media (max-width: 576px) {
    .socialSites {
      display: none !important;
    }

    .content {
      padding-top: calcVWM(70);

      .breadcrumb {
        border-radius: calcVWM(8);
        max-width: 100%;
        left: calcVWM(16);

        :global(ant-breadcrumb-link) {
          text-decoration: none;
        }

        ol::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}