@import "../../abstract/functions";
@import "../../base/variables";

$HomeMainWithImage-sizes: (
  content-width: calcVW(1216),
  about-content-width: calcVW(1280),
  content-mt: calcVW(478),
  social-sites-cg: calcVW(32),
  site-cg: calcVW(16),
  sites-image-width: calcVW(24),
  text-fs: calcVW(20),
  text-lh: calcVW(24),
  social-sites-lp: calcVW(-190),
  social-sites-tp: calcVW(400),
  services-rg: calcVW(96),
  services-mt: calcVW(400),
  bordered-text-mb: calcVW(-40),
  bordered-text-ml: calcVW(-345),
  bordered-text-ml-what: calcVW(-315),
  bordered-text-mtb: calcVW(140) 0 calcVW(80) 0,
  about-content-rg: calcVW(32),
  project-content-rg: calcVW(32),
  about-company-width: calcVW(1100),
  about-company-m: calcVW(90) 0 calcVW(130) 0,
  project-mb: calcVW(130),
  project-mt: calcVW(120),
  testimonials-mt: calcVW(200),
  world-map-w: calcVW(1200),
  world-map-user-w: calcVW(720),
  world-map-pb: calcVW(140),
  technology-mt: calcVW(100),
  technology-mb: calcVW(50),
);

@function getHomeMainWithImage($property) {
  @return map-get($HomeMainWithImage-sizes, $property);
}
