@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-about-page-styles {
  .content {
    width: getAboutPageSizes(content-width);
    margin: getAboutPageSizes(content-mt) auto 0 auto;

    .servicesMain {
      width: 100%;
      margin-top: getAboutPageSizes(services-mt);

      .services {
        @include flex(space-between, center, null, wrap);
        width: 100%;
        row-gap: getAboutPageSizes(services-rg);
      }

      .borderedTextBottom {
        margin-bottom: getAboutPageSizes(bordered-text-mb);
      }
    }

    .title {
      @include font-style(getAboutPageSizes(title-fz),
        variables.$fw-500,
        getAboutPageSizes(title-fl),
        #fff);
      position: relative;
      margin-top: getAboutPageSizes(title-mt);
    }

    .impact {
      @include flex(space-between, center, null, wrap);
      row-gap: getAboutPageSizes(impact-rg);
      margin-top: getAboutPageSizes(impact-mt);
      margin-bottom: getAboutPageSizes(impact-mb);
    }

    .descriptionBlock {
      @include flex(null, flex-start, column);
      row-gap: getAboutPageSizes(description-rg);
      margin-bottom: getAboutPageSizes(description-mb);
      padding: getAboutPageSizes(description-p);
    }

    .description {
      @include font-style(getAboutPageSizes(description-fz),
        variables.$fw-400,
        getAboutPageSizes(description-fl),
        #fff);
    }

    .aboutImage {
      width: 100%;
      height: getAboutPageSizes(about-image-h);
      border-radius: getAboutPageSizes(about-image-br);
      margin-bottom: getAboutPageSizes(about-image-mb);
    }

    .quickFacts {
      @include flex(space-between, center);
      margin-top: getAboutPageSizes(quick-facts-mt);
    }

    .descriptionMt {
      margin-top: getAboutPageSizes(description-mt);
    }
  }
}