@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-careers-item-styles {
  .content {
    width: getCareersSizes(content-width);
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .bottomBlock{
    margin: getCareersSizes(bottom-block-m);

    .title {
      @include font-style(getCareersSizes(title-fz), variables.$fw-500, getCareersSizes(title-lh), #fff);
      margin-bottom: calcVW(32) !important;
    }
    .blockItems {
      justify-content: space-between;
    }
  }
}
