@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-about-company-of-experts-styles {
  .aboutCompanyOfExperts {
    .aboutCompanyContent {
      @include flex(space-between, center, row, wrap);
      margin: getCompanyOfExpertsSizes(about-company-m);
      width: 100%;
    }
    
    .aboutCompanyTitle {
      margin-bottom: calcVW(32) !important;
      margin-top: calcVW(380) !important;
      @include flex(null, center);
      @include font-style(
        getCompanyOfExpertsSizes(title-fz),
        variables.$fw-500,
        getCompanyOfExpertsSizes(title-lh)
      );
    }
  }
}
