@import "../../abstract/functions";
@import "../../base/variables";

$testimonials-sizes: (
  testimonials-wrapper-padding: calcVW(59) calcVW(0) calcVW(36) calcVW(0),
  testimonials-title-pb: calcVW(12),
);

@function getTestimonialsSizes($property) {
  @return map-get($testimonials-sizes, $property);
}
