@import "../../abstract/functions";
@import "../../base/variables";

$ourTeamCard-sizes: (
  ourTeamCard-wrapper-padding: calcVW(20),
  ourTeamCard-image-width: calcVW(100),
  ourTeamCard-image-height: calcVW(100),
  ourTeamCard-image-height-long: calcVW(286),
  ourTeamCard-image-mr: calcVW(17),
  ourTeamCard-title-fz: calcVW(22),
  ourTeamCard-title-lh: calcVW(26),
  ourTeamCard-sub-title-fz: calcVW(16),
  ourTeamCard-sub-title-lh: calcVW(19),
  ourTeamCard-sub-title-pb: calcVW(10),
  ourTeamCard-title-p: calcVW(4),
  ourTeamCard-title-width: calcVW(450),
  ourTeamCard-desc-fz: calcVW(18),
  ourTeamCard-desc-lh: calcVW(21),
  ourTeamCard-desc-width: calcVW(420),
  ourTeamCard-title-hover-fz: calcVW(35),
  skill-item-width: calcVW(70),
  skill-item-height: calcVW(25)
  // ourTeamCard-icon-width: calcVW(80),
  // ourTeamCard-icon-height: calcVW(80),
);

@function getOurTeamCardSizes($property) {
  @return map-get($ourTeamCard-sizes, $property);
}
