@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-pricing-modal-styles {
  .content {
    @include flex(space-between);

    .leftContent {
      max-width: getPricingModal(left-content-max-width);
      padding: getPricingModal(left-content-padding);

      .header {
        @include flex(null, null, column);
        gap: getPricingModal(left-content-header-gap);

        .bigTitle {
          @include font-style(
            getPricingModal(big-title-fz),
            variables.$fw-500,
            getPricingModal(big-title-lh),
            variables.$black
          );
        }
        .smallTitle {
          @include font-style(
            getPricingModal(small-title-fz),
            variables.$fw-500,
            getPricingModal(small-title-lh),
            variables.$black
          );
        }
      }

      .summarySection {
        @include flex(null, null, column);
        gap: getPricingModal(summary-section-gap);
        padding: getPricingModal(summary-section-padding);
        margin-top: getPricingModal(summary-section-mt);

        .summary {
          @include font-style(
            getPricingModal(summary-fz),
            variables.$fw-500,
            getPricingModal(summary-lh),
            variables.$black
          );
        }

        .projType {
          display: flex;
          gap: getPricingModal(proj-type-gap);

          .itemWrapper {
            @include flex(null, center);
            gap: getPricingModal(item-wrapper-gap);
            width: max-content;
            padding: getPricingModal(item-wrapper-padding);

            .item {
              @include font-style(
                getPricingModal(proj-type-item-fz),
                variables.$fw-500,
                getPricingModal(proj-type-item-lh),
                variables.$black
              );
            }

            .icon {
              cursor: pointer;
              width: getPricingModal(proj-type-icon-width);
              height: getPricingModal(proj-type-icon-height);
            }
          }
        }
        .specialists {
          @include flex(null, null, column);
          gap: getPricingModal(specialists-gap);

          .specialistsTitle {
            @include font-style(
              getPricingModal(specialists-title-fz),
              variables.$fw-400,
              getPricingModal(specialists-title-lh),
              variables.$black
            );
          }

          .itemWrapper {
            @include flex(null, center);
            gap: getPricingModal(add-specialist-gap);
            width: max-content;
            padding: getPricingModal(add-specialist-padding);

            .item {
              @include font-style(
                getPricingModal(add-specialist-item-fz),
                variables.$fw-500,
                getPricingModal(add-specialist-item-lh),
                variables.$black
              );
            }
          }

          .value {
            @include font-style(
              getPricingModal(specialists-value-fz),
              variables.$fw-500,
              getPricingModal(specialists-value-lh),
              variables.$dark-turquoise
            );
          }

          .icon {
            cursor: pointer;
            width: getPricingModal(specialists-icon-width);
            height: getPricingModal(specialists-icon-height);
          }
        }
      }
    }
    .rightContent {
      width: getPricingModal(right-content-width);
      padding: getPricingModal(right-content-padding);
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      .leftContent {
        max-width: calcVWL(678);
        padding: calcVWL(32);

        .header {
          gap: calcVWL(16);

          .bigTitle {
            @include font-style(
              calcVWL(36),
              variables.$fw-500,
              calcVWL(44),
              variables.$black
            );
          }
          .smallTitle {
            @include font-style(
              calcVWL(18),
              variables.$fw-500,
              calcVWL(24),
              variables.$black
            );
          }
        }

        .summarySection {
          gap: calcVWL(20); 
          padding: calcVWL(32);
          margin-top: calcVWL(72);

          .summary {
           @include font-style(
              calcVWL(36),
              variables.$fw-500,
              calcVWL(44),
              variables.$black
            );
          }

          .projType {
            gap: calcVWL(30);

            .itemWrapper {
              gap: calcVWL(14);
              padding: calcVWL(5);

              .item {
                @include font-style(
                  calcVWL(20),
                  variables.$fw-500,
                  calcVWL(24),
                  variables.$black
                );
              }

              .icon {
                width: calcVWL(12);
                height: calcVWL(12);
              }
            }
          }
          .specialists {
            gap: calcVWL(32);

            .specialistsTitle {
              @include font-style(
                calcVWL(18),
                variables.$fw-400,
                calcVWL(24),
                variables.$black
              );
            }

            .itemWrapper {
              gap: calcVWL(14);
              padding: calcVWL(5);

              .item {
                @include font-style(
                  calcVWL(14),
                  variables.$fw-500,
                  calcVWL(24),
                  variables.$black
                );
              }
            }

            .value {
              @include font-style(
                calcVWL(14),
                variables.$fw-500,
                calcVWL(24),
                variables.$dark-turquoise
              );
            }

            .icon {
              width: calcVWL(16);
              height: calcVWL(16);
            }
          }
        }
      }
      .rightContent {
        width: calcVWL(474);
        padding: calcVWL(32);
      }
    }
  }
}
