@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-pricing-modal-styles {
  .content {
    @include flex(space-between);

    .leftContent {
      max-width: getPricingModal(left-content-max-width);
      padding: getPricingModal(left-content-padding);

      .header {
        @include flex(null, null, column);
        gap: getPricingModal(left-content-header-gap);

        .bigTitle {
          @include font-style(
            getPricingModal(big-title-fz),
            variables.$fw-500,
            getPricingModal(big-title-lh),
            variables.$black
          );
        }
        .smallTitle {
          @include font-style(
            getPricingModal(small-title-fz),
            variables.$fw-500,
            getPricingModal(small-title-lh),
            variables.$black
          );
        }
      }

      .summarySection {
        @include flex(null, null, column);
        gap: getPricingModal(summary-section-gap);
        padding: getPricingModal(summary-section-padding);
        margin-top: getPricingModal(summary-section-mt);

        .summary {
          @include font-style(
            getPricingModal(summary-fz),
            variables.$fw-500,
            getPricingModal(summary-lh),
            variables.$black
          );
        }

        .projType {
          display: flex;
          gap: getPricingModal(proj-type-gap);

          .itemWrapper {
            @include flex(null, center);
            gap: getPricingModal(item-wrapper-gap);
            width: max-content;
            padding: getPricingModal(item-wrapper-padding);

            .item {
              @include font-style(
                getPricingModal(proj-type-item-fz),
                variables.$fw-500,
                getPricingModal(proj-type-item-lh),
                variables.$black
              );
            }

            .icon {
              cursor: pointer;
              width: getPricingModal(proj-type-icon-width);
              height: getPricingModal(proj-type-icon-height);
            }
          }
        }
        .specialists {
          @include flex(null, null, column);
          gap: getPricingModal(specialists-gap);

          .specialistsTitle {
            @include font-style(
              getPricingModal(specialists-title-fz),
              variables.$fw-400,
              getPricingModal(specialists-title-lh),
              variables.$black
            );
          }

          .itemWrapper {
            @include flex(null, center);
            gap: getPricingModal(add-specialist-gap);
            width: max-content;
            padding: getPricingModal(add-specialist-padding);

            .item {
              @include font-style(
                getPricingModal(add-specialist-item-fz),
                variables.$fw-500,
                getPricingModal(add-specialist-item-lh),
                variables.$black
              );
            }
          }

          .value {
            @include font-style(
              getPricingModal(specialists-value-fz),
              variables.$fw-500,
              getPricingModal(specialists-value-lh),
              variables.$dark-turquoise
            );
          }

          .icon {
            cursor: pointer;
            width: getPricingModal(specialists-icon-width);
            height: getPricingModal(specialists-icon-height);
          }
        }
      }
    }
    .rightContent {
      width: getPricingModal(right-content-width);
      padding: getPricingModal(right-content-padding);
    }
  }
}
