@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-about-main-styles {
  .aboutPage {
    margin-top: calcVW(40);
    .aboutMainWrapper {
      padding: getAboutMainSizes(about-main-wrapper-padding);
      .aboutItems {
        :global(.ant-col-11):nth-last-child(1) {
          margin: 0 auto;
        }
      }
      @media (max-width: 768px) {
        padding: getAboutMainSizes(about-main-wrapper-tablet-padding);
        .aboutItems {
          @include flex(center, none, column);
          :global(.ant-col-11):nth-last-child(1) {
            margin: 0;
          }
        }
      }
    }
    .buttonWrapper {
      @include flex(center, center);
      padding: getAboutMainSizes(button-wrapper-padding);
    }
  }
}
