@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-about-company-styles {
  .card {
    @include flex(flex-start, center, null, wrap);
    width: getAboutCompanySizes(card-width);
    height: getAboutCompanySizes(card-height);
    background-color: #00000063;
    padding: getAboutCompanySizes(card-p);
    border-radius: 16px;
    .mainWrapper {
      @include flex(center, flex-start, column);
      row-gap: getAboutCompanySizes(main-rg);
      .image {
        height: getAboutCompanySizes(card-image-height);
        width: max-content;
      }
      .info {
        @include font-style(
          getAboutCompanySizes(info-fz),
          variables.$fw-700,
          getAboutCompanySizes(info-lh)
        );
        @include flex(null, center, row);
        column-gap: getAboutCompanySizes(info-cg);
        p {
          margin: 0;
        }
        .description {
          @include flex(null, null, column);
          @include font-style(
            getAboutCompanySizes(description-fz),
            variables.$fw-400,
            getAboutCompanySizes(description-lh)
          );
          p {
            margin: 0;
          }
        }
      }
    }
  }
  .withOutBG {
    background-color: transparent;
  }
}
