@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-technology-styles {
  .container {
    .title {
      @include font-style(
        getTechnologySizes(technology-title-fz),
        variables.$fw-500,
        getTechnologySizes(technology-title-lh)
      );
    }
    .description {
      margin-top: getTechnologySizes(technology-description-mt);
      @include font-style(
        getTechnologySizes(technology-description-fz),
        variables.$fw-400,
        getTechnologySizes(technology-description-lh)
      );
    }
    .buttons {
      @include flex(flex-start, center, row, wrap);
      column-gap: calcVW(16);
      margin: getTechnologySizes(technology-buttons-m);
    }
    .languages {
      @include flex(space-between, center, row, wrap);
      width: getTechnologySizes(language-w);
      .languageBlock {
        @include flex(center, center, column);
        width: getTechnologySizes(language-block-w);
        height: getTechnologySizes(language-block-h);
        cursor: pointer;
        .icon {
          width: getTechnologySizes(icon-w);
        }
        .name {
          display: none;
        }
        &:hover {
          background-color: #000000;
          border: 1px solid #3fc1ff;
          border-radius: getTechnologySizes(language-block-br);
          .name {
            display: block;
            @include font-style(
              getTechnologySizes(language-name-fz),
              variables.$fw-600,
              getTechnologySizes(language-name-lh)
            );
          }
        }
      }
    }
    @media (max-width: 1024px) {
      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(44));
      }
      .description {
        margin-top: calcVWT(32);
        @include font-style(calcVWT(18), variables.$fw-400, calcVWT(24));
      }
      .buttons {
        column-gap: calcVW(0);
        justify-content: space-between;
        margin: calcVWT(72) 0 calcVWT(40) 0;
      }
      .languages {
        width: 100%;
        .languageBlock {
          width: calcVWT(106);
          height: calcVWT(106);
          .icon {
            width: calcVWT(40);
          }
          &:hover {
            border-radius: calcVWT(16);
            .name {
              display: block;
              @include font-style(calcVWT(14), variables.$fw-500, calcVWT(24));
            }
          }
        }
      }
    }
    @media (max-width: 576px) {
      .title {
        @include font-style(calcVWM(36), variables.$fw-500, calcVWM(44));
      }
      .description {
        margin-top: calcVWM(32);
        @include font-style(calcVWM(18), variables.$fw-400, calcVWM(24));
      }
      .buttonsParent {
        overflow: auto;
      }
      .buttons {
        flex-wrap: nowrap;
        min-width: max-content;
        column-gap: calcVWM(16);
        margin-top: calcVWM(60);
      }
      .languages {
        width: 100%;
        row-gap: calcVWM(90);
        margin: calcVWM(70) 0;
        .languageBlock {
          width: calcVWM(50);
          height: calcVWM(50);
          .icon {
            width: calcVWM(50);
            height: calcVWM(50);
          }
          &:hover {
            pointer-events: none;
          }
        }
      }
    }
  }
}
