@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-service-large-card-styles {
  .serviceCardWrapper {
    display: flex;
    flex: none;
    width: 100%;
    max-width: none;
    align-items: center;
    justify-content: center;
    padding: getServiceCardSizes(serviceCard-wrapper-padding);
    margin-left: getServiceCardSizes(serviceCard-icon-title-wrapper-ml);
    background: variables.$projects-bg;
    column-gap: getServiceCardSizes(service-column-gap);
    .title_iconWrapper {
      margin-bottom: getServiceCardSizes(serviceCard-icon-title-wrapper-mb);
      margin-left: getServiceCardSizes(serviceCard-icon-title-wrapper--ml);
      .iconWrapper {
        border: 2px solid #00ff96;
        margin-right: getServiceCardSizes(serviceCard-icon-mr);
        width: getServiceCardSizes(serviceCard-icon-width);
        height: getServiceCardSizes(serviceCard-icon-height);
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: cover;
      }
    }
    .more {
      @include font-style(getTeamItemSizes(more-fz), variables.$fw-400, getTeamItemSizes(more-lh), $main-dark-blue);
      margin-left: auto;
      width: max-content;
      font-size: calcVW(26);
      display: flex;
      align-items: center;
      cursor: pointer;
      column-gap: calcVW(10);
      img {
        width: getServiceCardSizes(more-img-width);
        height: getServiceCardSizes(more-img-height);
      }
    }
  }
  .text_wrapper {
    .title {
      width: getServiceCardSizes(serviceCard-title-width);
      @include font-style(
        getServiceCardSizes(serviceCard-title-fz),
        variables.$fw-400,
        getServiceCardSizes(serviceCard-title-lh),
        variables.$main-dark-blue
      );
      border-bottom: 2px solid transparent;
      transition: 0.2s;
      padding-bottom: getServiceCardSizes(serviceCard-title-pb);
    }

    .desc {
      width: getServiceCardSizes(serviceCard-desc-width);
      font-weight: 300 !important;
      margin-left: getServiceCardSizes(serviceCard-desc-ml);
      color: variables.$main-dark-blue !important;
      margin-bottom: 10px !important;
      font-size: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      @include font-style(
        getServiceCardSizes(serviceCard-desc-fz),
        variables.$fw-300,
        getServiceCardSizes(serviceCard-desc-lh),
        #c3d4dc
      );
    }
  }
  @media (max-width: 768px) {
    .serviceCardWrapper {
      flex-direction: column;
      .more {
        @include font-style(calcVW(45), variables.$fw-300, calcVW(45), $main-dark-blue);
        img {
          width: calcVW(40);
          height: calcVW(40);
        }
      }
      .desc {
        width: auto;
      }
      .title_iconWrapper {
        .iconWrapper {
          width: calcVW(1100);
          height: calcVW(720);
          margin: 0;
        }
      }
    }
    .text_wrapper {
      .title {
        line-height: calcVW(60);
        font-size: calcVW(50);
        width: auto;
        margin: calcVW(40) calcVW(0);
      }
      .desc {
        line-height: calcVW(50);
        font-size: calcVW(44);
      }
    }
  }
}
