@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-what-we-do-page-styles {
  .whatWeDoMainWrapper {
    width: getWhatWeDoPageSizes(content-width);
    margin: getWhatWeDoPageSizes(content-mt) auto 0 auto;

    .ourServices {
      margin-top: getWhatWeDoPageSizes(what-our-services-margin-top);
      @include flex(space-between, center, null, wrap);
      row-gap:  getWhatWeDoPageSizes(what-our-services-row-gap);
      column-gap: getWhatWeDoPageSizes(what-our-services-column-gap);
    }
    
    .weKnowSection {
      margin:getWhatWeDoPageSizes(what-we-know-section-margin);
    }
  }
}
