@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-our-project-styles {
  .mainWrapper {
    height: calcVW(300);
    @include flex(center, center, center);
    border-radius: calcVW(16);
    .imageContainer {
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      border-radius: calcVW(16);
      cursor: pointer;
      @include flex(center, center, column);
      min-height: calcVW(300);
      height: calcVW(300);
      .img {
        transition: 0.3s;
        width: 100%;
        border-radius: calcVW(16) calcVW(16) 0 0;
        height: calcVW(244);
        filter: grayscale(100%);
        object-fit: cover;
      }

      .more {
        display: flex;
        gap: 10px;
        align-items: center;
        @include font-style(
          getTeamMemberSizes(team-member-position-fz),
          variables.$fw-700,
          getTeamMemberSizes(team-member-position-lh),
          #219fdb
        );
      }

      .positionSection {
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: getOurProjectCardSizes(project-position-height);
        width: 100%;
        align-items: center;
        background: rgba(2, 13, 28, 0.73);

        .name {
          @include font-style(
            getOurProjectCardSizes(project-name-fz),
            variables.$fw-700,
            getOurProjectCardSizes(project-name-lh),
            #fff
          );
        }

        .stacks {
          transition: 0.3s;
          display: flex;
          height: 0;
          gap: calcVW(0);

          .icon {
            transition: 0.3s;
            width: calcVW(22);
            height: 0;
          }
        }
      }

      &:hover {
        transition: all 0.3s;
        min-height: calcVW(400);
        height: calcVW(400);
        .blogsPadding {
          padding: calcVW(16) !important;
          align-items: flex-start;
        }
        .img {
          transition: all 0.3s;
          height: calcVW(306);
          filter: grayscale(0%);
        }
        .positionSection {
          transition: 0.3s;
          padding: calcVW(16) calcVW(16);
          gap: calcVW(16);
          height: calcVW(96);
          background: rgba(2, 13, 28, 0.73);

          .name {
            @include font-style(
              getOurProjectCardSizes(project-name-hover-fz),
              variables.$fw-700,
              getOurProjectCardSizes(project-name-hover-lh),
              #fff
            );
          }

          .blogDescription {
            @include font-style(
              getOurProjectCardSizes(project-name-hover-fz),
              variables.$fw-500,
              getOurProjectCardSizes(project-name-hover-lh),
              #fff
            );
          }

          .stacks {
            transition: 0.3s;
            height: calcVW(15);
            justify-content: space-between;
            gap: calcVW(25);

            .icon {
              transition: 0.3s;
              width: calcVW(22);
              height: calcVW(19);
            }
          }
        }
      }
    }

    .home {
      width: calcVW(296);
    }
    .portfolio {
      width: calcVW(405);
      &:hover {
        .positionSection {
          background: rgba(2, 13, 28, 0.73);
        }
      }
    }
    .blogs {
      width: calcVW(405);
      .positionSection {
        padding: calcVW(16);
        height: calcVW(76);
        justify-content: flex-start;
        gap: calcVW(16);
        align-items: flex-start;
        .stacks {
          height: 0;
        }
      }
      .img {
        height: calcVW(224);
      }
      .blogDescription {
        height: 0;
        overflow: hidden;
      }
      &:hover {
        .img {
          height: calcVW(212);
        }
        .positionSection {
          height: calcVW(188);
          background: rgba(2, 13, 28, 0.73);
        }
        .blogDescription {
          height: auto;
          overflow: hidden;
          @include font-style(calcVW(18), variables.$fw-400, calcVW(24), #fff);
        }
      }
    }
  }
  .moreWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid variables.$light-blue;
    border-radius: calcVW(16);
    background: rgba(0, 0, 0, 0.32);
    height: getOurProjectCardSizes(project-card-height);
  }
}
