@import "../../abstract/functions";
@import "../../base/variables";

$about-item-sizes: (
  about-item-title-m: calcVW(10) 0,
  about-item-title-fz: calcVW(24),
  about-item-title-lh: calcVW(24),
  about-item-desc-fz: calcVW(18),
  about-item-desc-lh: calcVW(24),
  about-item-height: calcVW(316),
  about-item-width: calcVW(624),
  about-item-gap: calcVW(35),
  about-item-p: calcVW(32),
  icon-width: calcVW(53),
  icon-height: calcVW(53),
);

@function getAboutItemSizes($property) {
  @return map-get($about-item-sizes, $property);
}
