@import "../../abstract/functions";
@import "../../base/variables";

$about-item-sizes: (
  about-item-title-m:  calcVW(10) 0,
  about-item-title-fz: calcVW(20),
  about-item-title-lh: calcVW(24),
  about-item-desc-fz: calcVW(16),
  about-item-desc-lh: calcVW(24),
  about-item-height: calcVW(332),
  about-item-width: calcVW(296),
  about-item-p: calcVW(32),
);

@function getAboutItemSizes($property) {
  @return map-get($about-item-sizes, $property);
}
