@import "../../abstract/functions";
@import "../../base/variables";

$title-sizes: (
  title-fz: calcVW(20),
  title-lh: calcVW(32),
);

@function getTitleSizes($property) {
  @return map-get($title-sizes, $property);
}
