@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-reversed-about-us-styles {
  .fromCareers {
    div:last-of-type {
      margin-bottom: calcVW(-192);
    }
    @media (max-width: 576px) {
      div:first-of-type {
        margin-top: calcVWM(-90);
      }
      div:last-of-type {
        margin-bottom: calcVWM(-90);
      }
    }
  }
  .block {
    @include flex(space-between, center);
    .users {
      @include flex(space-between, center);
      width: getReversedAboutUsSizes(users-width);
    }
  }
  .blockReversed {
    flex-direction: row-reverse;
  }
  @media (max-width: 1024px) {
    .block {
      width: 100%;
      align-items: flex-end;
      .users {
        width: calcVWT(448);
        height: calcVWT(220);
        margin-bottom: calcVWT(40);
      }
    }

    .careers_block {
      flex-direction: column;
      .users {
        height: calcVWT(400);
        width: 100%;
        margin: 0;
        justify-content: center;
        column-gap: calcVWT(32);
      }
    }
    .careers_blockReversed {
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 576px) {
    .block {
      width: 100%;
      align-items: flex-end;
      flex-direction: column;
      .users {
        width: 100%;
        height: calcVWM(180);
      }
    }
    .careers_block {
      .users {
        height: calcVWM(428);
        justify-content: space-between;
      }
    }
    .careers_blockReversed {
      flex-direction: column-reverse;
    }
  }
}
