@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-reversed-about-us-styles {
  .fromCareers {
    div:last-of-type{
      margin-bottom: calcVW(-192)
    }
  }
  .block {
    @include flex(space-between, center);
    .users {
      @include flex(space-between, center);
      width: getReversedAboutUsSizes(users-width);
    }
  }
  .blockReversed {
    flex-direction: row-reverse;
  }
  @media (max-width: 1024px) {
    .block {
      width: 100%;
      align-items: flex-end;
      .users {
        width: calcVWT(448);
        height: calcVWT(220);
        margin-bottom: calcVWT(40);
      }
    }
  }
}
