@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-service-card-styles {
  .serviceCardWrapper {
    margin-left: getServiceCardSizes(serviceCard-icon-title-wrapper-ml);
    .title_iconWrapper {
      position: relative;
      margin-bottom: getServiceCardSizes(serviceCard-icon-title-wrapper-mb);
      .iconWrapper {
        width: getServiceCardSizes(serviceCard-icon-width);
        height: getServiceCardSizes(serviceCard-icon-height);
        background-repeat: no-repeat;
        background-size: contain;
      }
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: getServiceCardSizes(serviceCard-title-height);
        @include font-style(
          getServiceCardSizes(serviceCard-title-fz),
          variables.$fw-400,
          getServiceCardSizes(serviceCard-title-lh),
          #fff
        );
        cursor: pointer;
        background: transparent;
        backdrop-filter: blur(30px);
        position: absolute;
        top: 0;
      }
    }
    .desc {
      width: getServiceCardSizes(serviceCard-desc-width);
      font-weight: 300 !important;
      margin-left: getServiceCardSizes(serviceCard-desc-ml);
      color: #c3d4dc !important;
      @include font-style(
        getServiceCardSizes(serviceCard-desc-fz),
        variables.$fw-300,
        getServiceCardSizes(serviceCard-desc-lh),
        #c3d4dc
      );
    }
    @media (max-width: 768px) {
      max-width: unset;
      .desc {
        display: none;
      }
      .title_iconWrapper {
        gap: calcVW(90);
        .iconWrapper {
          width: calcVW(180);
          height: calcVW(180);
        }
        .title {
          width: calcVW(620);
          @include font-style(calcVW(80), variables.$fw-400, calcVW(100), #fff);
          &:hover {
            font-size: calcVW(99);
          }
        }
      }
    }
  }
}
