@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-service-card-styles {
  .serviceCardWrapper {
    flex: none;
    .title_iconWrapper {
      position: relative;
      width: max-content;
      .iconWrapper {
        width: getServiceCardSizes(serviceCard-icon-width);
        height: getServiceCardSizes(serviceCard-icon-height);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 16px;
      }
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px 16px 0 0;
        width: 100%;
        height: getServiceCardSizes(serviceCard-title-height);
        @include font-style(
          getServiceCardSizes(serviceCard-title-fz),
          variables.$fw-400,
          getServiceCardSizes(serviceCard-title-lh),
          #fff
        );
        cursor: pointer;
        background: transparent;
        backdrop-filter: blur(30px);
        position: absolute;
        top: 0;
      }
    }
    .description {
      display: none;
    }

    &:hover {
      .description {
        display: flex;
        position: absolute;
        bottom: 0;
        padding: getServiceCardSizes(serviceCard-desc-p);
        border-radius: 0 0 16px 16px;
        background: transparent;
        backdrop-filter: blur(30px);
        height: getServiceCardSizes(serviceCard-desc-height);
        text-align: center;
        @include font-style(
          getServiceCardSizes(serviceCard-desc-fz),
          variables.$fw-300,
          getServiceCardSizes(serviceCard-desc-lh),
          #c3d4dc
        );
      }
      box-shadow: 0px 42px 20px -32px rgb(66 53 190 / 80%);
    }

    @media (max-width: 768px) {
    }
  }
}
