@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-discuss-project-styles {
  .content {
    width: getDiscussProjectSizes(content-width);
    margin: getDiscussProjectSizes(content-mt) auto 0 auto;

    .discussProject {
      margin: calcVW(65) 0 calcVW(320);

      .form {
        display: flex;
        flex-direction: column;
        gap: calcVW(32);

        .buttons {
          display: flex;
          gap: calcVW(16);
          margin-top: calcVW(60);
          z-index: 998;

          a:first-of-type {
            button {
              height: calcVW(48);
              background: variables.$light-blue;
              @include font-style(
                calcVW(13),
                variables.$fw-700,
                calcVW(19),
                variables.$black
              );

              @media (max-width: 1024px) {
                @include font-style(
                  calcVWT(13),
                  variables.$fw-700,
                  calcVWT(19),
                  variables.$black
                );
              }

              @media (max-width: 576px) {
                @include font-style(
                  calcVWM(13),
                  variables.$fw-700,
                  calcVWM(19),
                  variables.$black
                );
              }
            }
          }
          a {
            button {
              height: unset;

              @include font-style(
                calcVW(13),
                variables.$fw-700,
                calcVW(19),
                variables.$gray
              );

              @media (max-width: 1024px) {
                text-align: start;
                padding: calcVWT(8) calcVWT(16);
                border-radius: calcVWT(8);

                @include font-style(
                  calcVWT(13),
                  variables.$fw-700,
                  calcVWT(19),
                  variables.$gray
                );
              }

              @media (max-width: 576px) {
                padding: calcVWM(12) calcVWM(16);
                border-radius: calcVWM(8);

                @include font-style(
                  calcVWM(13),
                  variables.$fw-700,
                  calcVWM(19),
                  variables.$gray
                );
              }
              &:hover {
                background: variables.$light-blue;
                @include font-style(
                  calcVW(13),
                  variables.$fw-700,
                  calcVW(19),
                  variables.$black
                );
                @media (max-width: 1024px) {
                  @include font-style(
                    calcVWT(13),
                    variables.$fw-700,
                    calcVWT(19),
                    variables.$black
                  );
                }
                @media (max-width: 576px) {
                  @include font-style(
                    calcVWM(13),
                    variables.$fw-700,
                    calcVWM(19),
                    variables.$black
                  );
                }
              }
            }
          }
          @media (max-width: 1024px) {
            gap: calcVWT(16);
          }

          @media (max-width: 576px) {
            gap: calcVWM(16);
          }
        }

        .industryDetails > button {
          margin-top: calcVW(-35);
        }
        .industryDetails {
          display: flex;
          flex-direction: column;
          gap: calcVW(70);

          .industries {
            display: flex;
            flex-direction: column;
            gap: calcVW(10);

            :global(.ant-slider-horizontal) {
              margin-top: calcVW(90);
            }

            .title {
              display: flex;
              align-items: center;
              height: calcVW(60);
              @include font-style(calcVW(20), variables.$fw-700, calcVW(24));
              @media (max-width: 1024px) {
                @include font-style(
                  calcVWT(20),
                  variables.$fw-700,
                  calcVWT(24)
                );
              }
              @media (max-width: 576px) {
                @include font-style(
                  calcVWM(20),
                  variables.$fw-700,
                  calcVWM(24)
                );
              }
            }

            .checkboxes {
              display: flex;
              flex-wrap: wrap;
              column-gap: calcVW(24);
              row-gap: calcVW(16);

              @media (max-width: 576px) {
                gap: calcVWM(24);
                flex-direction: column;
              }
            }

            .slider {
              margin-bottom: calcVW(5);
            }

            .monthsWrapper {
              display: flex;
              justify-content: space-between;
              margin-bottom: calcVW(7);

              .month {
                width: calcVWM(40);
                text-align: left;
                @include font-style(calcVW(14), variables.$fw-500, calcVW(24));
                @media (max-width: 1024px) {
                  @include font-style(
                    calcVWT(14),
                    variables.$fw-700,
                    calcVWT(24)
                  );
                }
                @media (max-width: 576px) {
                  @include font-style(
                    calcVWM(10),
                    variables.$fw-700,
                    calcVWM(14)
                  );
                }
              }
            }
          }
        }
        @media (max-width: 1024px) {
          gap: calcVWT(32);
        }
        @media (max-width: 576px) {
          gap: calcVWM(32);
        }
      }
    }
    @media (max-width: 1024px) {
      width: calcVWT(880);

      .discussProject {
        .form {
          .industryDetails > button {
            margin-top: calcVWT(-11);
          }
          .industryDetails {
            .industries {
              gap: calcVWT(16);

              :global(.ant-slider-horizontal) {
                margin-top: calcVWT(80);
              }

              .title {
                height: calcVWT(60);
              }

              .slider {
                margin-bottom: calcVW(5);
              }

              .monthsWrapper {
                display: flex;
                justify-content: space-between;
                margin-bottom: calcVWT(7);
              }

              .checkboxes {
                column-gap: calcVWT(24);
                row-gap: calcVWT(16);
              }
            }
          }
        }
      }
    }
    @media (max-width: 576px) {
      width: calcVWM(343);

      .discussProject {
        .form {
          .buttons {
            a {
              button {
                height: unset !important;
              }
            }
          }
          .industryDetails > button {
            margin-top: calcVWT(55);
          }
          .industryDetails {
            .industries {
              gap: calcVWM(16);

              :global(.ant-slider-horizontal) {
                margin-top: calcVWM(80);
              }

              .title {
                height: unset;
              }

              .slider {
                margin-bottom: calcVW(5);
              }

              .monthsWrapper {
                display: flex;
                justify-content: space-between;
                margin-bottom: calcVWM(-1);
              }

              .checkboxes {
                column-gap: calcVWM(24);
                row-gap: calcVWM(16);
              }
            }
          }
        }
      }
    }
  }
}
