@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-discuss-project-styles {
  .content {
    width: getDiscussProjectSizes(content-width);
    margin: getDiscussProjectSizes(content-mt) auto 0 auto;

    .discussProject {
      margin: calcVW(200) 0 calcVW(320);

      .form {
        display: flex;
        flex-direction: column;
        gap: calcVW(32);

        .buttons {
          display: flex;
          gap: calcVW(16);
          margin-top: calcVW(60);

          a:first-of-type {
            button {
              background: variables.$light-blue;
              @include font-style(
                calcVW(13),
                variables.$fw-700,
                calcVW(19),
                variables.$black
              );

              
              @media (max-width: 1024px) {
                @include font-style(
                  calcVWT(13),
                  variables.$fw-700,
                  calcVWT(19),
                  variables.$black
                );
              }

              @media (max-width: 576px) {
                @include font-style(
                  calcVWM(13),
                  variables.$fw-700,
                  calcVWM(19),
                  variables.$black
                );
              }
            }
          }
          a {
            button {
              height: unset;

              @include font-style(
                calcVW(13),
                variables.$fw-700,
                calcVW(19),
                variables.$gray
              );
              

              @media (max-width: 1024px) {
                text-align: start;
                padding: calcVWT(8) calcVWT(16);
                border-radius: calcVWT(8);

                @include font-style(
                  calcVWT(13),
                  variables.$fw-700,
                  calcVWT(19),
                  variables.$gray
                );
              }

              @media (max-width: 576px) {
                padding: calcVWM(8) calcVWM(16);
                border-radius: calcVWM(8);

                @include font-style(
                  calcVWM(13),
                  variables.$fw-700,
                  calcVWM(19),
                  variables.$gray
                );
              }
              &:hover {
                background: variables.$light-blue;
                @include font-style(
                  calcVW(13),
                  variables.$fw-700,
                  calcVW(19),
                  variables.$black
                );
                
                @media (max-width: 1024px) {
                  @include font-style(
                    calcVWT(13),
                    variables.$fw-700,
                    calcVWT(19),
                    variables.$black
                  );
                }
                @media (max-width: 576px) {
                  @include font-style(
                    calcVWM(13),
                    variables.$fw-700,
                    calcVWM(19),
                    variables.$black
                  );
                }
              }
            }
          }
          
          @media (max-width: 1024px) {
            gap: calcVWT(16);
          }

          @media (max-width: 576px) {
            gap: calcVWM(16);
          }
        }

        .industryDetails {
          display: flex;
          flex-direction: column;
          gap: calcVW(90);

          .industries {
            display: flex;
            flex-direction: column;
            gap: calcVW(30);

            .title {
              @include font-style(calcVW(20), variables.$fw-700, calcVW(24));

              
              @media (max-width: 1024px) {
                @include font-style(
                  calcVWT(20),
                  variables.$fw-700,
                  calcVWT(24)
                );
              }
              @media (max-width: 576px) {
                @include font-style(
                  calcVWM(20),
                  variables.$fw-700,
                  calcVWM(24)
                );
              }
            }

            .checkboxes {
              display: flex;
              flex-wrap: wrap;
              gap: calcVW(24);

              @media (max-width: 576px) {
                gap: calcVWT(24);
              }

              @media (max-width: 576px) {
                gap: calcVWM(24);
                flex-direction: column;
              }
            }

            .monthsWrapper {
              display: flex;
              justify-content: space-between;

              .month {
                @include font-style(calcVW(14), variables.$fw-500, calcVW(24));

                @media (max-width: 1024px) {
                  @include font-style(
                    calcVWT(14),
                    variables.$fw-700,
                    calcVWT(24)
                  );
                }
                @media (max-width: 576px) {
                  @include font-style(
                    calcVWM(10),
                    variables.$fw-700,
                    calcVWM(14)
                  );
                }
              }
            }
          }
        }
        @media (max-width: 1024px) {
          gap: calcVWT(32);
        }
        @media (max-width: 576px) {
          gap: calcVWM(32);
        }
      }
    }
    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      
    width: calcVWL(1280);
    margin: calcVWL(478) auto 0 auto;

    .discussProject {
      margin: calcVWL(200) 0 calcVWL(320);

      .form {
        gap: calcVWL(32);

        .buttons {
          gap: calcVWL(16);
          margin-top: calcVWL(60);

          a:first-of-type {
            button {
              @include font-style(
                calcVWL(13),
                variables.$fw-700,
                calcVWL(19),
                variables.$black
              );
            }
          }
          a {
            button {

              @include font-style(
                calcVWL(13),
                variables.$fw-700,
                calcVWL(19),
                variables.$gray
              );
              
              &:hover {
                @include font-style(
                  calcVWL(13),
                  variables.$fw-700,
                  calcVWL(19),
                  variables.$black
                );
              }
            }
          }
        }

        .industryDetails {
          gap: calcVWL(90);

          .industries {
            gap: calcVWL(30);

            .title {
              @include font-style(calcVWL(20), variables.$fw-700, calcVWL(24));
            }

            .checkboxes {
              gap: calcVWL(24);
            }

            .monthsWrapper {
              .month {
                @include font-style(calcVWL(14), variables.$fw-500, calcVWL(24));
              }
            }
          }
        }
      }
    }
    }
    @media (max-width: 1024px) {
      width: calcVWT(880);
    }
  }
}
