@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-value-text-item-styles {
  .valueTextItemWrapper {
    padding-left: getValueTextItemSizes(value-text-item-wrapper-pl);
    padding-right: getValueTextItemSizes(value-text-item-wrapper-pr);

    .titleWrapper {
      align-items: center;
      margin-bottom: getValueTextItemSizes(title-wrapper-mb);
      .square {
        width: getValueTextItemSizes(square-width);
        height: getValueTextItemSizes(square-height);
        background-color: variables.$main-green;
        transform: rotate(45deg);
      }
      .title {
        margin-left: getValueTextItemSizes(title-ml);
        @include font-style(
          getValueTextItemSizes(title-fz),
          variables.$fw-400,
          getValueTextItemSizes(title-lh),
          variables.$light-blue
        );
      }
    }

    .desc {
      padding-bottom: getValueTextItemSizes(desc-pb);
      @include font-style(
        getValueTextItemSizes(desc-fz),
        variables.$fw-400,
        getValueTextItemSizes(desc-lh),
        variables.$light-blue
      );
    }
  }
}
