@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-about-main-item-styles {
  .aboutMainItemWrapper {
    .titleWrapper {
      align-items: center;
      margin-bottom: getAboutMainItemSizes(title-wrapper-mb);
      .square {
        width: getAboutMainItemSizes(square-width);
        height: getAboutMainItemSizes(square-height);
        border-radius: getAboutMainItemSizes(square-br);
        margin-right: getAboutMainItemSizes(square-mr);
        background: variables.$main-green;
        transform: rotate(45deg);
      }

      .title {
        @include font-style(
          getAboutMainItemSizes(title-fz),
          variables.$fw-400,
          getAboutMainItemSizes(title-lh),
          variables.$main-dark-blue
        );
      }
    }

    .desc {
      @include font-style(
        getAboutMainItemSizes(desc-fz),
        variables.$fw-400,
        getAboutMainItemSizes(desc-lh),
        variables.$main-dark-blue-80
      );
    }
    @media (max-width: 768px) {
      max-width: 100%;
      flex: none;
      .title {
        @include font-style(
          getAboutMainItemSizes(title-tablet-fz) !important,
          variables.$fw-400,
          getAboutMainItemSizes(title-lh),
          variables.$main-dark-blue
        );
      }
      .desc {
        @include font-style(
          getAboutMainItemSizes(desc-tablet-fz),
          variables.$fw-400,
          unset,
          variables.$main-dark-blue-80
        );
      }
      .square {
        width: getAboutMainItemSizes(square-tablet-width) !important;
        height: getAboutMainItemSizes(square-tablet-height) !important;
      }
    }
  }
}
