@import "../../abstract/functions";
@import "../../base/variables";

$about-main-item-sizes: (
  // about-main-item-wrapper-padding: calcVW(85) calcVW(0) calcVW(54) calcVW(0),
  title-wrapper-mb: calcVW(41),
  square-width: calcVW(19),
  square-height: calcVW(19),
  square-br: calcVW(2),
  square-mr: calcVW(18),
  title-fz: calcVW(40),
  title-lh: calcVW(47),
  desc-fz: calcVW(22),
  desc-lh: calcVW(26),
  title-tablet-fz: calcVW(80),
  title-tablet-lh: calcVW(47),
  desc-tablet-fz: calcVW(40),
  desc-tablet-lh: calcVW(26),
  square-tablet-width: calcVW(40),
  square-tablet-height: calcVW(40),
);

@function getAboutMainItemSizes($property) {
  @return map-get($about-main-item-sizes, $property);
}
