@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-offer-styles {
  .offerMainWrapper {
    background-color: variables.$main-dark-blue;
    padding: getOfferSizes(offer-wrapper-padding);
    .titleWrapper {
      padding-bottom: getOfferSizes(offer-title-pb);
    }
    .buttonWrapper {
      text-align: center;
      margin-top: getOfferSizes(offer-button-wrapper-mt);
    }
    @media (max-width: 768px) {
      padding: calcVW(100);
      .offers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calcVW(100);
      }
      .offers > div {
        max-width: unset;
        width: 100%;
        margin: 0 auto;
      }
      .buttonWrapper {
        margin-top: calcVW(150);
        margin-bottom: calcVW(150);
      }
    }
  }
}
