@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-home-content-styles {
    .content {
        width: getHomeContentSizes(content-width);
        margin: getHomeContentSizes(content-mt) auto 0 auto;
        .servicesMain {
            width: 100%;
            margin-top: getHomeContentSizes(services-mt);
            .services {
                @include flex(space-between, center, null, wrap);
                width: 100%;
                row-gap: getHomeContentSizes(services-rg);
                margin-top: calcVW(100);
            }

            .borderedTextBottom {
                margin-bottom: getHomeContentSizes(bordered-text-mb);
            }
        }
    }
    .borderedTextMargin {
        margin: getHomeContentSizes(bordered-text-mtb);
    }
    .borderedText {
        margin-left: getHomeContentSizes(bordered-text-ml);
    }
    .servicesMainButton {
        @include flex(center, center);
        margin-top: getHomeContentSizes(service-main-button-mt);
    }
    .borderedTextTestimonials {
        margin-top: getHomeContentSizes(testimonials-mt) !important;
    }
    .backImage {
        width: calcVW(1920);
        left: calcVW(-320);
        position: absolute;
        top: calcVW(80);
        height: 140%;
        z-index: 0;
    }
    .backImageSecond {
        height: 117%;
    }
    .topBackImage {
        top: calcVW(-300);
        z-index: 0;
    }
    .afterAboutContent {
        width: getHomeContentSizes(about-content-width);
        margin: 0 auto;
        .aboutContent {
            row-gap: getHomeContentSizes(about-content-rg);
            @include flex(space-between, center, column);
        }
        .borderedTextWhat {
            margin: getHomeContentSizes(bordered-text-mtb);
            margin-left: getHomeContentSizes(bordered-text-ml-what);
            position: relative;
            z-index: 1;
        }

        .projectContent {
            @include flex(space-between, center, row, wrap);
            row-gap: getHomeContentSizes(project-content-rg);
            position: relative;
            .title {
                @include font-style(
                    getHomeContentSizes(what-we-do-title-fz),
                    variables.$fw-500,
                    getHomeContentSizes(what-we-do-title-lh)
                );
                position: relative;
                z-index: 1;
            }
            .description {
                margin-top: getHomeContentSizes(what-we-do-description-mt);
                @include font-style(
                    getHomeContentSizes(what-we-do-description-fz),
                    variables.$fw-400,
                    getHomeContentSizes(what-we-do-description-lh)
                );
                position: relative;
                z-index: 1;
                margin-bottom: getHomeContentSizes(what-we-do-description-mb) !important;
            }
        }

        .aboutCompanyContent {
            @include flex(space-between, center, row, wrap);
            margin: getHomeContentSizes(about-company-m);
        }
        .borderedTextProject {
            margin-bottom: getHomeContentSizes(project-mb);
            margin-top: getHomeContentSizes(project-mt);
        }
        .technology {
            .borderedTextProject {
                margin-top: getHomeContentSizes(technology-mt);
                margin-bottom: getHomeContentSizes(technology-mb);
            }
        }
        .mapContainer {
            @include flex(space-between, flex-end);
            .worldMap {
                width: getHomeContentSizes(world-map-w);
                padding-bottom: getHomeContentSizes(world-map-pb);
            }
            .worldMapUser {
                width: getHomeContentSizes(world-map-user-w);
            }
        }
    }
    .contactBlock {
        position: relative;
        padding-bottom: calcVW(380);
        .backImage {
            height: calcVW(1290);
        }
    }
    .ourProjectsCards {
        display: flex;
        flex-wrap: wrap;
        row-gap: calcVW(72);
        justify-content: space-between;
    }
    @media (max-width: 1024px) {
        .ourProjectsCards {
            row-gap: calcVWT(72);
        }
        .content {
            width: calcVWT(880);
            margin-top: calcVWT(170);
            .servicesMain {
                margin-top: calcVWT(150);
            }
        }
        .borderedText {
            margin-left: calcVWT(-70);
            margin-bottom: calcVWT(30) !important;
        }
        .servicesMainButton {
            display: none;
        }
        .afterAboutContent {
            width: calcVWT(928);
            .aboutContent {
                row-gap: calcVWT(110);
            }
            .borderedTextWhat {
                margin-left: calcVWT(-50);
            }
            .aboutCompanyContent {
                height: max-content;
                margin: calcVWT(90) 0 calcVWT(100) 0;
            }
        }

        .backImage {
            left: calcVWT(-48);
            width: calcVWT(1024);
            height: 100%;
        }
        .topBackImage {
            top: calcVWT(150);
        }
        .projectContent {
            .title {
                display: none;
            }
            .description {
                display: none;
            }
        }
        .backImageSecond {
            top: calcVWT(400);
            height: 93%;
        }
    }
    @media (max-width: 576px) {

        .content {
            width: calcVWM(343);
            margin-top: calcVWM(10);
            .servicesMain {
                margin-top: calcVWM(20);
                margin-bottom: calcVWM(80);
            }
        }
        .borderedText {
            margin-left: calcVWM(-15);
        }
        .afterAboutContent {
            .aboutContent {
                row-gap: calcVWM(32);
            }
            .aboutCompanyContent {
                margin: calcVWT(90) 0 calcVWT(230) 0;
                flex-direction: column;
                align-items: flex-start;
                row-gap: calcVWM(50);
            }
            .mapContainer {
                width: 100%;
                .worldMapUser {
                    width: 100%;
                }
            }
        }
        .projectContent {
            row-gap: calcVWM(16) !important;
            margin-bottom: calcVWM(100);
        }
        .topBackImage {
            height: 53%;
            width: calcVWM(800);
            left: calcVWM(-230);
        }
        .ourProjectsCards {
            row-gap: calcVWM(32);
        }

        .backImageSecond {
            top: calcVWM(800);
            height: 86%;
            width: calcVWM(700);
            left: calcVWM(-200);
        }
    }
}
