@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-process-styles {
  .container {
    .loadingPath {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke: #3FC1FF; /* Set the initial color */
      animation: colorChange 2s linear forwards;
    }

    @keyframes colorChange {
      to {
        stroke-dashoffset: 0;
        stroke: #3FC1FF; /* Change to the final color */
      }
    }

    .loadingPathRound {
      stroke: white; /* Initial color */
      animation: colorChangeRound 0.5s linear 0.5s forwards;
    }
    .loadingPathRoundFill{
      fill: white; /* Initial color */
      animation: colorChangeRoundFill 0.5s linear 0.5s forwards;
    }

    @keyframes colorChangeRound {
      to {
        stroke: #3FC1FF; /* Final color after 3-second delay */
      }
    }

    @keyframes colorChangeRoundFill {
      to {
        fill: #3FC1FF; /* Final color after 3-second delay */
      }
    }
    .title {
      @include font-style(getProcessSizes(process-title-fz), variables.$fw-500, getProcessSizes(process-title-lh));
    }
    .description {
      margin-top: getProcessSizes(process-description-mt);
      @include font-style(
        getProcessSizes(process-description-fz),
        variables.$fw-400,
        getProcessSizes(process-description-lh)
      );
    }

    @media (max-width: 1024px) {
      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(44));
      }

      .description {
        margin-top: getProcessSizes(process-description-mt);
        @include font-style(calcVWT(18), variables.$fw-400, calcVWT(24));
      }
    }

    .mobileSvg {
      display: none;
    }

    @media (max-width: 576px) {
      .title {
        @include font-style(calcVWM(36), variables.$fw-500, calcVWM(44));
      }

      .description {
        margin-top: getProcessSizes(process-description-mt);
        @include font-style(calcVWM(18), variables.$fw-400, calcVWM(24));
      }
      .desktopSvg {
        display: none;
      }

      .mobileSvg {
        display: block;
      }
    }
  }
}
