@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-contactForm-styles {
  .contactFormWrapper {
    :global {
      .ant-form {
        input[type="file"]:focus {
          outline: none;
        }
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 406px;
      gap: 16px;
      .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }
      .info {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
      .buttonWrapper {
        button {
          @include font-style(
            getContactFormSizes(button-fz),
            variables.$fw-700,
            getContactFormSizes(button-fl),
            #fff
          );
        }
      }

      .inputSection {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        gap: 16px;
        width: 100%;
      }
      .filled {
        background-color: aquamarine;
      }
      .focused {
        background-color: aqua;
        :global(.ant-form-item-label) {
          transform: translateY(-125%);
          // font-size: 0.75em;
        }
      }
      :global(.ant-input) {
        position: relative;
        padding: 12px 0px 5px 0;
        width: 100%;
        outline: 0;
        border: 0;
        box-shadow: 0 1px 0 0 #e5e5e5;
        transition: box-shadow 150ms ease-out;
        background: transparent;
        color: #ffffff;

        &:focus {
          box-shadow: 0 2px 0 0 blue;
        }
      }
      :global(.ant-form-item-label) {
        position: absolute;
        left: 0;
        top: 10px;
        color: #999;
        background-color: transparent;
        z-index: 10;
        transition: transform 150ms ease-out, font-size 150ms ease-out;
      }
      .input {
        background: transparent;
        color: #ffffff;
      }
      :global {
        .ant-input-status-error:not(.ant-input-disabled):not(
            .ant-input-borderless
          ).ant-input:focus {
          background: transparent;
          border-color: none;
          box-shadow: 0 2px 0 0 rgb(207, 39, 39);
        }

        .ant-input-status-error:not(.ant-input-disabled):not(
            .ant-input-borderless
          ).ant-input {
          background: transparent;
          border-color: none !important;
        }

        .ant-input-status-error:not(.ant-input-disabled):not(
            .ant-input-borderless
          ).ant-input:focus {
          border-color: none;
        }

        .ant-form-item-label > label {
          font-size: 16px;
          color: #ffffff;
        }
        .ant-input:focus + .ant-form-item-label > label {
          color: blue;
        }
      }
    }
  }
}
