@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-contactForm-styles {
  .withoutTitle {
    padding-top: getContactFormSizes(contact-form-wrapper-pt);
  }
  .contactFormWrapper {
    padding-bottom: getContactFormSizes(contact-form-wrapper-pb);
    background-color: variables.$main-blue-15;
    .titleWrapper {
      padding: getContactFormSizes(contact-form-title-padding);
    }
    .input {
      padding: getContactFormSizes(contact-form-input-padding);
      border-radius: getContactFormSizes(contact-form-input-br);
      @include font-style(
        getContactFormSizes(contact-form-input-fz),
        variables.$fw-500,
        getContactFormSizes(contact-form-input-lh),
        $main-dark-blue-80
      );
    }

    .row_2,
    .row_1,
    .textAreaWrapper {
      justify-content: center;
      margin-bottom: getContactFormSizes(contact-form-input-row_1-mb);
      .inputOdd {
        margin-right: getContactFormSizes(contact-form-input-input-odd-mr);
      }
      input {
        &::placeholder {
          color: variables.$main-dark-blue !important;
        }
      }
      textarea {
        &::placeholder {
          color: variables.$main-dark-blue !important;
        }
      }
    }

    .row_2 {
      .phoneCol {
        :global(.ant-form-item-control-input) {
          padding: calcVW(1) calcVW(16);
          background-color: white;
          border-radius: getContactFormSizes(contact-form-input-br);
          input {
            height: calcVW(60);
            border: none;
            &:focus-visible {
              outline: none;
              border: none;
            }
          }
        }
      }
    }

    .textAreaWrapper {
      .input {
        height: getContactFormSizes(contact-form-input-textarea-height);
      }
      textarea {
        line-height: normal;
      }
    }

    .upload {
      margin-left: calcVW(360);
      gap: 70px;
      .fileUpload {
        background: transparent;
        border-radius: 4px;
        padding: 0;
        width: calcVW(100);
        height: calcVW(40);
        font-size: calcVW(16);
        border: 2px solid variables.$main-dark-blue;
        font-weight: 700;
        text-align: center;
      }
      .uploadButtonWrapper {
        align-items: center;

        .largeText {
          font-size: calcVW(24);
          font-weight: variables.$fw-700;
        }
        .smallText {
          font-size: calcVW(14);
        }
      }
      .uploadButtonWrapper > div {
        margin-bottom: 0;
      }
      .whiteText {
        color: variables.$white;
      }
      .whiteBorder {
        color: variables.$white;
        border: 1px solid variables.$white !important;
      }

      :global(.ant-upload-list) {
        width: calcVW(100);
      }
    }

    .buttonWrapper {
      text-align: center;
      margin-top: getContactFormSizes(contact-form-button-wrapper-mt);
    }

    @media (max-width: 992px) {
      .row_2 {
        .phoneCol {
          :global(.ant-form-item-control-input) {
            input {
              height: calcVW(80);
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      padding: calcVW(50) calcVW(300) calcVW(200) calcVW(300);

      .upload {
        margin-left: 0;
        gap: 0;
        justify-content: space-between;

        .fileUpload {
          width: calcVW(200);
          height: calcVW(80);
          font-size: calcVW(32);
        }

        .uploadButtonWrapper {
          .largeText {
            font-size: calcVW(48);
          }
          .smallText {
            font-size: calcVW(28);
          }
        }

        :global(.ant-upload-list) {
          width: calcVW(200);
        }

        :global(.ant-upload-list-item:hover .ant-upload-list-item-info) {
          background: transparent;
        }

        :global(.ant-upload-list-item-card-actions .anticon) {
          color: variables.$black;
        }

        :global(.ant-upload-list-text .ant-upload-text-icon .anticon) {
          color: variables.$black;
        }
      }

      .form {
        @include flex(center, none, column);
        gap: calcVW(90);
      }
      .row_2 > div,
      .row_1 > div {
        max-width: 100%;
        margin: 0;
      }
      .row_2,
      .row_1 {
        flex-direction: column;
        margin-bottom: 0;
        gap: calcVW(90);
        input {
          width: 100%;
          height: calcVW(150);
          font-size: calcVW(60);
          border-radius: 5px;
          &::placeholder {
            color: variables.$main-dark-blue !important;
          }
        }

        .inputOdd {
          margin-right: 0;
        }
      }

      .row_2 {
        .phoneCol {
          :global(.ant-form-item-control-input) {
            padding: 0 calcVW(16);
            border-radius: 5px;
            input {
              height: calcVW(160);
            }
          }
        }
      }

      .textAreaWrapper > div {
        width: 100%;
        max-width: unset;
        flex: unset;
      }
      .textAreaWrapper {
        textarea {
          font-size: calcVW(60);
          height: calcVW(400) !important;
          border-radius: 5px;
          &::placeholder {
            color: variables.$main-dark-blue;
          }
        }
      }
      .titleWrapper > div > div {
        font-size: calcVW(90);
        padding: calcVW(40);
      }
    }
  }
}
