@use "../../base/variables";
@import "../../base/mixins";

//To do refactor

@mixin generate-contactForm-styles {
  .contactFormWrapper {
    display: flex;
    gap: calcVW(96);

    :global {
      .ant-form {
        input[type="file"]:focus {
          outline: none;
        }
      }
    }

    .infoSection {
      display: flex;
      flex-direction: column;
      gap: calcVW(16);
      max-width: 50%;

      .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }

      .info {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 406px;
      gap: 16px;
      width: calcVW(410);

      .buttonWrapper {
        button {
          @include font-style(
            getContactFormSizes(button-fz),
            variables.$fw-700,
            getContactFormSizes(button-fl),
            #fff
          );
        }
      }

      .suffix {
        width: calcVW(17);
        height: calcVW(19);
      }

      .accept {
        :global(.ant-form-item-control-input-content) {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: calcVW(18);
        }

        :global(.ant-checkbox-inner) {
          background: transparent !important;
          border-color: white !important;
        }

        :global(.ant-checkbox-checked) {
          &::after {
            border-color: white !important;
          }
        }

        .acceptText {
          @include font-style(
            getContactFormSizes(text-fz),
            variables.$fw-400,
            getContactFormSizes(text-fl)
          );
        }
      }

      .uploadFile {
        color: #e5e5e5;
      }

      :global(.ant-input-affix-wrapper) {
        z-index: 0;
        background: transparent;
        border-bottom: 1px solid white;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 0;

        input[type="file"]::-webkit-file-upload-button {
          visibility: hidden;
          display: none;
        }

        input[type="file"]::before {
          content: " ";
          display: inline-block;
          background-size: cover;
          width: 100%;
          height: 100%;
          padding: 10px 0;
          text-align: center;
          cursor: pointer;
        }

        input[type="file"] {
          z-index: 999;
        }
      }

      :global(.ant-input-affix-wrapper-focused) {
        box-shadow: none;
        border-bottom: 1px solid white;
      }

      :global(.ant-input-suffix) {
        position: absolute;
        right: 0;
        color: white;
        bottom: 7px;
      }

      .inputSection {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
      }

      .filled {
        background-color: aquamarine;
      }

      .focused {
        background-color: aqua;
        :global(.ant-form-item-label) {
          transform: translateY(-125%);
          // font-size: 0.75em;
        }
      }

      :global(.ant-input) {
        position: relative;
        padding: 12px 0px 5px 0;
        width: 100%;
        outline: 0;
        border: 0;
        border-bottom: 1px solid #ffffff;
        transition: box-shadow 150ms ease-out;
        background: transparent;
        color: #ffffff;

        &:focus {
          box-shadow: 0 2px 0 0 blue;
        }
      }

      :global(.ant-form-item-label) {
        position: absolute;
        left: 0;
        top: 10px;
        color: #999;
        background-color: transparent;
        z-index: 10;
        transition: transform 150ms ease-out, font-size 150ms ease-out;
      }

      .input {
        background: transparent;
        color: #ffffff;
      }

      :global {
        .ant-input-status-error:not(.ant-input-disabled):not(
            .ant-input-borderless
          ).ant-input:focus {
          background: transparent;
          border-color: none;
          box-shadow: 0 2px 0 0 rgb(207, 39, 39);
        }

        .ant-input-status-error:not(.ant-input-disabled):not(
            .ant-input-borderless
          ).ant-input {
          background: transparent;
          border-color: none !important;
        }

        .ant-input-status-error:not(.ant-input-disabled):not(
            .ant-input-borderless
          ).ant-input:focus {
          border-color: none;
        }

        .ant-form-item-label > label {
          font-size: 16px;
          color: #ffffff;
        }

        .ant-input:focus + .ant-form-item-label > label {
          color: blue;
        }
      }
    }
    .backImage {
        width: calcVW(1920);
        left: calcVW(-320);
        position: absolute;
        top: calcVW(-625);
        height: calcVW(1380);
    }
  }
}
