@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-services-item-styles {
  .content {
    width: getServicesItemSizes(content-width);
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .bottomBlock {
    margin: getServicesItemSizes(bottom-block-m);
    color: white;

    .blockItemImage {
      img {
        max-width: 100%;
      }
    }

    .title {
      @include font-style(getServicesItemSizes(title-fz), variables.$fw-500, getServicesItemSizes(title-lh), #fff);
      margin: calcVW(300) 0 calcVW(32) 0 !important;
    }
    .blockItems {
      justify-content: space-between;
    }
  }
  @media (max-width: 1024px) {
    .content {
      width: calcVWT(976);
    }
    .bottomBlock {
      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(43), #fff);
        margin-bottom: calcVWT(32) !important;
      }
    }
  }
  @media (max-width: 576px) {
    .content {
      width: calcVWM(343);
    }
    .bottomBlock {
      .blockItems {
        row-gap: calcVWM(32);
      }
      .title {
        @include font-style(calcVWM(36), variables.$fw-500, calcVWM(43), #fff);
        margin-bottom: calcVWM(32) !important;
      }
    }
  }
}
