@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-portfolios-styles {
  .portfoliosWrapper {
    .filters {
      display: flex;
      gap: calcVW(16);
    }

    .projects {
      margin-top: calcVW(120);
      position: relative;
      width: 100%;
      .elipse {
        position: absolute;
        left: calcVW(-320);
        width: calc(100% + calcVW(640));
        height: calc(100% + calcVW(640));
        top: calcVW(-250);
      }
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      .filters {
        gap: calcVWL(16);
      }
      .projects {
        margin-top: calcVWL(120);
        .elipse {
          left: calcVWL(-320);
          width: calc(100% + calcVWL(640));
          height: calc(100% + calcVWL(640));
          top: calcVWL(-250);
        }
      }
    }

    @media (max-width: 1024px) {
      .filters {
        gap: calcVWT(16);
      }
    }
    
    @media (max-width: 576px) {
      .projects {
        gap: calcVWM(32) !important;
        .elipse {
          top: 0;
        }
      }
      .filters {
        min-width: max-content;
        gap: calcVWM(16) !important;
      }
      .filtersBlock {
        max-width: 100%;
        overflow: scroll;
      }
    }
  }
}
//TO Do refactor Calc
