@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-portfolio-slider-styles {
  .portfolioSliderMainWrapper {
    float: left;
    padding: getPortfolioSliderSizes(portfolio-slider-wrapper-padding);

    .sliderWrapper {
      width: getPortfolioSliderSizes(slider-wrapper-width);
      :global(.slick-dots) {
        li {
          button {
            background-color: #bdcad1 !important;
            transform: rotate(45deg);
          }
        }
        .slick-active {
          button {
            background-color: #00ff96 !important;
          }
        }
      }
    }
    .img {
      object-fit: cover;
      border: 2px solid variables.$main-green;
      width: getPortfolioSliderSizes(image-width);
      height: getPortfolioSliderSizes(image-height);
      border-radius: getPortfolioSliderSizes(image-br);
    }
  }
  .mainPage {
    width: 100%;
    @include flex(space-between);
    padding: 0;
  }
  .portfolioText {
    font-weight: 400;
    font-size: calcVW(22);
    line-height: calcVW(26);
    color: variables.$light-blue;
  }
  @media (max-width: 768px) {
    .mainPage {
      height: 100%;
      flex-direction: column;
    }
    .portfolioText {
      height: 100%;
      padding: 0 calcVW(200);
    }
    .portfolioText > p {
      font-size: calcVW(60);
      line-height: calcVW(80);
    }
    .portfolioSliderMainWrapper {
      padding: 0;

      .img {
        width: calcVW(600);
        height: calcVW(1200);
      }
      .sliderWrapper {
        width: 100%;
        :global(.slick-track) {
          display: flex;
          gap: calcVW(90);
        }
      }
    }
  }
}
