@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-what-we-do-styles {
  .container {
    position: relative;
    padding: calcVW(100) 0;
    margin: calcVW(50) 0 0;

    .backImage {
      position: absolute;
      top: calcVW(100);
      left: calcVW(-320);
      width: calcVW(2560);
      height: calcVW(1463);
      z-index: 0;
    }
  }

  .sectionWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: calcVW(64);

    .whatWeDoWrapper {
      display: flex;
      flex-direction: column;
      gap: calcVW(32);

      .title {
        @include font-style(calcVW(36), variables.$fw-500, calcVW(44), #fff);
      }

      .contextWrapper {
        display: flex;
        flex-direction: column;
        gap: calcVW(30);

        .button {
          display: flex;
          gap: 10px;
          background: transparent;
          @include font-style( // getWhatWeDoSizes(what-we-do-development-fz),
            calcVW(18),
            variables.$fw-700,
            // getWhatWeDoSizes(what-we-do-development-lh),
            calcVW(20),
            variables.$light-blue );
          width: max-content;
          padding: 0;
          align-items: center;

          .btnImg {
            width: calcVW(18);
            height: calcVW(20);
          }
        }

        .contextHeader {
          .contextTitle {
            @include font-style(calcVW(24),
              variables.$fw-700,
              calcVW(28),
              #fff);
          }
        }

        .contextHeader {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .context {
          height: calcVWT(452);
          overflow: hidden;

          p {
            @include font-style(calcVW(18),
              variables.$fw-400,
              calcVW(30),
              #fff);
          }
        }

        .showMoreClass {
          height: max-content;
        }

        .showLessClass {
          height: calcVWT(452);
        }

        .contextIcon {
          width: calcVW(40);
          height: calcVW(40);
        }
      }

      .tabs {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: calcVW(1280);

        .contextTitle {
          @include font-style( // getWhatWeDoSizes(what-we-do-development-fz),
            calcVW(24),
            variables.$fw-700,
            // getWhatWeDoSizes(what-we-do-development-lh),
            calcVW(128),
            #fff);
        }

        .contextHeader {
          display: flex;
          gap: 20px;
        }

        :global(.ant-tabs-nav) {
          &::before {
            border-bottom: none;
          }
        }

        :global(.ant-tabs-nav-wrap) {
          background: transparent !important;
          padding-bottom: calcVW(6);
        }

        :global(.ant-tabs-tab) {
          background-color: transparent !important;

          :global(.ant-tabs-tab-btn) {
            @include font-style(calcVW(20) !important,
              variables.$fw-700 !important,
              calcVW(24) !important,
              #fff !important);
          }
        }

        :global(.ant-tabs-nav-operations) {
          display: none;
        }

        :global(.ant-tabs-nav-list) {
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-radius: calcVW(10);
          overflow: auto;

          &::-webkit-scrollbar {
            width: calcVW(8);
            height: calcVW(8);
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.32);
            border-radius: calcVW(10);
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.73);
            border-radius: calcVW(10);
            outline: 4px solid rgba(255, 255, 255, 0.73);
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.63);
          }
        }

        :global(.ant-tabs-tab) {
          min-width: calcVW(256);
          height: calcVW(112);
          border: none;
          background: rgba(0, 0, 0, 0.32);
          backdrop-filter: blur(36.5px);
          // margin-bottom: calcVW(32);
          margin-left: 0 !important;
        }

        :global(.ant-tabs-nav-list) div:first-child {
          border-top-right-radius: 5px;
        }

        :global(.ant-tabs-tab-active) {
          backdrop-filter: brightness(0.5);
          background: rgba(0, 0, 0, 0.32);

          :global(.ant-tabs-tab-btn) {
            @include font-style(calcVW(20) !important,
              variables.$fw-700 !important,
              calcVW(24) !important,
              #fff !important);
          }
        }

        :global(.ant-tabs-content-holder) {
          padding: calcVW(32);
          background: rgba(0, 0, 0, 0.262);
          backdrop-filter: blur(36.5px);
          border-radius: 16px;
        }

        :global(.ant-tabs-tab-btn) {
          font-size: 12px !important;
        }
      }

      .development {
        @include font-style(getWhatWeDoSizes(what-we-do-development-fz),
          variables.$fw-500,
          getWhatWeDoSizes(what-we-do-development-lh),
          #fff);
      }

      .description {
        padding: 0 5px;

        // text-align: center;
        p {
          @include font-style(getWhatWeDoSizes(what-we-do-description-fz),
            variables.$fw-300,
            getWhatWeDoSizes(what-we-do-description-lh),
            #fff);
        }
      }
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .sectionWrapper {
      gap: calcVWL(64);

      .whatWeDoWrapper {
        gap: calcVWL(32);

        .title {
          @include font-style(calcVWL(36),
            variables.$fw-500,
            calcVWL(44),
            #fff);
        }

        .contextWrapper {
          gap: calcVWL(30);

          .button {
            @include font-style(calcVWL(18),
              variables.$fw-700,
              calcVWL(20),
              variables.$light-blue );

            .btnImg {
              width: calcVWL(18);
              height: calcVWL(20);
            }
          }

          .contextHeader {
            .contextTitle {
              @include font-style(calcVWL(24),
                variables.$fw-700,
                calcVWL(28),
                #fff);
            }
          }

          .context {
            height: calcVWL(400);

            p {
              @include font-style(calcVWL(18),
                variables.$fw-400,
                calcVWL(30),
                #fff);
            }
          }

          .showMoreClass {
            height: max-content;
          }

          .showLessClass {
            height: calcVWT(400);
          }

          .contextIcon {
            width: calcVWL(40);
            height: calcVWL(40);
          }
        }

        .tabs {
          width: calcVWL(1280);

          .contextTitle {
            @include font-style(calcVWL(14),
              variables.$fw-500,
              calcVWL(16),
              #fff);
          }

          :global(.ant-tabs-nav-wrap) {
            padding-bottom: calcVWL(6);
          }

          :global(.ant-tabs-tab) {
            :global(.ant-tabs-tab-btn) {
              @include font-style(calcVWL(20) !important,
                variables.$fw-700 !important,
                calcVWL(24) !important,
                #fff !important);
            }
          }

          :global(.ant-tabs-nav-list) {
            border-radius: calcVWL(10);

            &::-webkit-scrollbar {
              width: calcVWL(8);
              height: calcVWL(8);
            }

            /* Track */
            &::-webkit-scrollbar-track {
              border-radius: calcVWL(10);
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              border-radius: calcVWL(10);
            }
          }

          :global(.ant-tabs-tab) {
            min-width: calcVWL(256);
            height: calcVWL(112);
            margin-bottom: calcVWL(32);
          }

          :global(.ant-tabs-tab-active) {
            :global(.ant-tabs-tab-btn) {
              @include font-style(calcVWL(20) !important,
                variables.$fw-700 !important,
                calcVWL(24) !important,
                #fff !important);
            }
          }

          :global(.ant-tabs-content-holder) {
            padding: calcVWL(32);
          }
        }

        .development {
          @include font-style(calcVWL(24),
            variables.$fw-500,
            calcVWL(29),
            #fff);
        }

        .description {
          p {
            @include font-style(calcVWL(18),
              variables.$fw-300,
              calcVWL(22),
              #fff);
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .container {
      margin: calcVWT(50) 0 calcVWT(120);

      .backImage {
        width: calcVWT(1024);
        left: calcVWT(-48);
      }
    }

    .sectionWrapper {
      .whatWeDoWrapper {
        .title {
          @include font-style(calcVWT(36),
            variables.$fw-500,
            calcVWT(44),
            #fff);
        }

        .description {
          padding: 0;
          margin: calcVWT(32) 0;

          p {
            @include font-style(calcVWT(18),
              variables.$fw-400,
              calcVWT(24),
              #fff);
          }
        }

        .tabs {
          width: 100%;
          gap: calcVWT(10);

          :global(.ant-tabs-nav-list) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-radius: calcVWT(16);
            overflow: auto;

            &::-webkit-scrollbar {
              display: none;
            }
          }

          :global(.ant-tabs-content-holder) {
            padding: calcVWT(32);
          }
          :global(.ant-tabs-content){
            margin-top: calcVWT(10);
          }
          :global(.ant-tabs-nav-list div) {
            padding: calcVWT(32);
            height: calcVWT(138);
            min-width: calcVWT(187);
            white-space: pre-wrap;
          }

          :global(.ant-tabs-tab) {
            background-color: transparent !important;

            :global(.ant-tabs-tab-btn) {
              display: flex;
              align-items: center;
              word-break: break-word;
              @include font-style(calcVWT(20) !important,
                variables.$fw-700 !important,
                calcVWT(24) !important,
                #fff !important);
            }
          }

          :global(.ant-tabs-tab-active) {
            :global(.ant-tabs-tab-btn) {
              @include font-style(calcVWT(20) !important,
                variables.$fw-700 !important,
                calcVWT(24) !important,
                #fff !important);
            }
          }

          .contextTitle {
            @include font-style(calcVWT(24) !important,
              variables.$fw-700,
              normal,
              #fff);
          }

          .contextIcon {
            width: calcVWT(40);
            height: calcVWT(40);
          }

          .context {
            p {
              @include font-style(calcVWT(18),
                variables.$fw-400,
                calcVWT(24),
                #fff);
            }
          }

          .showMoreClass {
            height: max-content;
          }

          .button {
            @include font-style(calcVWT(18),
              variables.$fw-700,
              calcVWT(22),
              variables.$light-blue );

            .btnImg {
              width: calcVWT(18);
              height: calcVWT(20);
            }
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .sectionWrapper {
      .whatWeDoWrapper {
        margin-bottom: calcVWM(80);

        .title {
          @include font-style(calcVWM(36),
            variables.$fw-500,
            calcVWM(44),
            #fff);
        }

        .description {
          padding: 0;
          margin: calcVWM(32) 0;

          p {
            @include font-style(calcVWM(18),
              variables.$fw-400,
              calcVWM(24),
              #fff);
          }
        }

        // .tabs {
        //   display: none;
        // }
        .contextWrapper {
          width: 100%;
          height: max-content;
          background: rgba(0, 0, 0, 0.5);
          backdrop-filter: blur(36.5px);
          border-radius: calcVWM(16);

          .button {
            margin: calcVWM(40) 0 0 calcVWM(54);
            @include font-style(calcVWM(18),
              variables.$fw-700,
              calcVWM(20),
              variables.$light-blue );

            .btnImg {
              width: calcVWM(18);
              height: calcVWM(20);
            }
          }

          .context {
            height: calcVWM(1100);

            div {
              max-height: 100%;
              overflow: hidden;
            }

            padding: 0 calcVWM(32) calcVWM(108) calcVWM(32);

            p {
              @include font-style(calcVWM(18),
                variables.$fw-400,
                calcVWM(24),
                #fff);
            }
          }

          .showMoreClass {
            height: max-content;
            padding-bottom: calcVWM(60);
          }

          .antDropdownLink {
            display: flex;
            justify-content: space-between;
            padding: calcVWM(32);
            align-items: center;
            @include font-style( // getWhatWeDoSizes(what-we-do-development-fz),
              calcVWM(20),
              variables.$fw-700,
              // getWhatWeDoSizes(what-we-do-development-lh),
              calcVWM(24),
              #fff);

            img {
              width: calcVWM(15);
              height: calcVWM(15);
            }
          }
        }
      }
    }
  }
}