@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-careers-styles {
  .content {
    width: getCareersSizes(content-width);
    margin: getCareersSizes(content-mt) auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .aboutContent {
      @include flex(space-between, center, column);
    }
    .pageHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calcVW(32);
      z-index: 2;
      max-width: calcVW(1220);

      .title {
        @include font-style(calcVW(48), variables.$fw-400, calcVW(58));
      }

      .subTitle {
        display: flex;
        gap: calcVW(10);

        @include font-style(calcVW(36), variables.$fw-700, calcVW(44));

        div:last-child {
          color: variables.$light-blue;
        }
      }

      .info {
        text-align: center;

        @include font-style(calcVW(24), variables.$fw-400, calcVW(32));
      }
    }
    .secondInfo {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: calcVW(32);
      margin: calcVW(320) 0 calcVW(32) 0;
      .secondTitle {
        @include font-style(
          getCareersSizes(content-second-title-fz),
          variables.$fw-400,
          getCareersSizes(content-second-title-lh)
        );
      }
      .secondDescription {
        text-align: center;
        @include font-style(
          getWhatToKnowSizes(content-second-description-fz),
          variables.$fw-400,
          getWhatToKnowSizes(content-second-description-lh),
          #fff
        );
      }
    }

    .weKnowSection {
      margin: getCareersSizes(what-we-know-section-margin);
    }

    .contactUsWrapper {
      margin: calcVW(496) 0 calcVW(424);
    }
    .worldMap {
      width: 100%;
      height: 100%;
      margin: calcVW(100) 0;
    }
  }
}
