@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-blog-item-styles {
  .content {
    width: getBlogItemSizes(content-width);
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  
  .bottomBlock {
    margin: getBlogItemSizes(bottom-block-m);
    color: white;
    .blockItemImage {
      img {
        max-width: 100%;
      }
    }

    
    .title {
      @include font-style(getBlogItemSizes(title-fz), variables.$fw-500, getBlogItemSizes(title-lh), #fff);
      margin: calcVW(250) 0 calcVW(32) 0 !important;
    }
    .blockItems {

      justify-content: space-between;
    }
  }
  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .content {
      width: calcVWL(976);
    }
    .bottomBlock {
      .title {
        @include font-style(calcVWL(36), variables.$fw-500, calcVWL(43), #fff);
        margin-bottom: calcVWL(32) !important;
      }
    }
  }
  @media (max-width: 1024px) {
    .content {
      width: calcVWT(976);
    }
    .bottomBlock {
      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(43), #fff);
        margin-bottom: calcVWT(32) !important;
      }
    }
  }
  @media (max-width: 576px) {
    .content {
      width: calcVWM(343);
    }
    .bottomBlock {
      .blockItems {
        row-gap: calcVWM(32);
      }
      .title {
        @include font-style(calcVWM(36), variables.$fw-500, calcVWM(43), #fff);
        margin-bottom: calcVWM(32) !important;
      }
    }
  }
}
