@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-contact-form-colored-titles-styles {
  .text {
    text-align: center;
    padding-top: getContactFormColoredTitlesSizes(text-pt);
    @include font-style(
      getContactFormColoredTitlesSizes(title-fz),
      variables.$fw-700,
      getContactFormColoredTitlesSizes(title-lh),
      variables.$main-dark-blue
    );
    .coloredText {
      color: variables.$main-green;
      font-weight: variables.$fw-700;
    }
    .normalText {
      color: variables.$main-dark-blue;
      font-weight: variables.$fw-700;
    }

    @media (max-width: 768px) {
      @include font-style( getContactFormColoredTitlesSizes(text-fs), variables.$fw-700, getContactFormColoredTitlesSizes(text-lh), variables.$main-dark-blue);
      width: getContactFormColoredTitlesSizes(text-width) ;
      margin: 0 auto;
    }
  }
}
