@import "../../abstract/functions";
@import "../../base/variables";

$contact-form-colored-titles-sizes: (
  contact-form-wrapper-padding: calcVW(183) calcVW(0) calcVW(130) calcVW(230),
  text-pt: calcVW(80),
  title-fz: calcVW(50),
  title-lh: calcVW(59),
  text-fs: calcVW(110),
  text-lh: calcVW(180),
  text-width: calcVW(1200),
);

@function getContactFormColoredTitlesSizes($property) {
  @return map-get($contact-form-colored-titles-sizes, $property);
}
