@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-we-do-card-styles {
  .weDoCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: getWeDoCardSizes(we-do-card-py) getWeDoCardSizes(we-do-card-px);
    gap: 16px;
    width: getWeDoCardSizes(we-do-card-width);
    height: getWeDoCardSizes(we-do-card-height);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px);
    border-radius: 16px;

    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: getWeDoCardSizes(we-do-card-icon-wrapper);
      border-radius: 50%;

      .icon {
        width: getWeDoCardSizes(icon-width);
        height: getWeDoCardSizes(icon-height);
      }
    }
    .development {
      @include font-style(
        getWeDoCardSizes(we-do-card-development-fz),
        variables.$fw-500,
        getWeDoCardSizes(we-do-card-development-lh),
        #fff
      );
    }
    .description {
      padding: 0 5px;
      text-align: center;
      @include font-style(
        getWeDoCardSizes(we-do-card-description-fz),
        variables.$fw-300,
        getWeDoCardSizes(we-do-card-description-lh),
        #fff
      );
    }
    @media (max-width: 1024px) {
      width: calcVWT(288);
      height: calcVWT(380);
      padding: calcVWT(64) calcVWT(32);
      text-align: center;
      .development {
        @include font-style(calcVWT(24), variables.$fw-700, calcVWT(29), #fff);
      }
      .description {
        @include font-style(calcVWT(18), variables.$fw-400, calcVWT(24), #fff);
      }
      .iconWrapper {
        padding: calcVWT(18);
        .icon {
          width: calcVWT(27);
          height: calcVWT(27);
        }
      }
    }

    @media (max-width: 576px) {
      width: calcVWM(163);
      height: calcVWM(320);
      padding: calcVWM(32) calcVWM(16);
      text-align: center;
      justify-content: space-between;
      .development {
        @include font-style(calcVWM(18), variables.$fw-700, calcVWM(22), #fff);
      }
      .description {
        @include font-style(calcVWM(13), variables.$fw-400, calcVWM(20), #fff);
      }
      .iconWrapper {
        padding: calcVWM(17);
        .icon {
          width: calcVWM(26);
          height: calcVWM(26);
        }
      }
    }
  }
}
