@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-form-item-styles {
  .floatLabel {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      background-color: transparent !important;
      -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }

    :global(.ant-input-affix-wrapper-focused) {
      box-shadow: none !important;
      border: none;
      border-color: transparent !important;
    }

    :global(.ant-input-status-error) {
      border-bottom: 1px solid rgb(207, 39, 39) !important;

      &:focus {
        box-shadow: 0 1px 1px -1px rgb(207, 39, 39) !important;
      }
    }

    :global(.ant-input-affix-wrapper-status-warning) {
      background: transparent !important;
      border-color: transparent !important;

      &:hover {
        border: none;
        border-color: transparent !important;
        box-shadow: none !important;
      }

      &:focus {
        box-shadow: none !important;
      }
    }

    :global(.ant-input-affix-wrapper) {
      &:focus {
        box-shadow: none;
      }
    }

    input::-webkit-file-upload-button {
      visibility: hidden;
    }

    input:-webkit-autofill {
      background-color: transparent;
    }

    .label {
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: calcVW(11);
      transition: 0.2s ease all;
      @include font-style(calcVW(13), variables.$fw-400, calcVW(20), #8296a5);
    }

    .asPlaceholder {
      color: rgba(255, 255, 255, 0.73);
      @include font-style(calcVW(18), variables.$fw-400, calcVW(24));
      top: 5px !important;

      @media only screen and (max-width: 1200px) and (min-width: 1025px) {
        top: calcVWL(10) !important;
      }
      @media only screen and (max-width: 860px) and (min-width: 760px) {
        top: calcVWL(15) !important;
      }
      @media only screen and (max-width: 760px) and (min-width: 670px) {
        top: calcVWL(20) !important;
      }
      @media only screen and (max-width: 670px) and (min-width: 576px) {
        top: calcVWL(30) !important;
      }

      span {
        color: red;
      }
    }

    .asLabel {
      left: 0 !important;
      top: calcVW(-20) !important ;
      background: transparent;
      @include font-style(
        calcVW(13),
        variables.$fw-400,
        normal,
        #8296a5 !important
      );

      span {
        color: red;
      }

      @media (max-width: 576px) {
        top: calcVWM(-15) !important ;
      }
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      .label {
        top: calcVWL(11);
        font-size: calcVWL(13);
        line-height: calcVWL(20);
      }

      .asPlaceholder {
        @include font-style(
          calcVWL(18) !important,
          variables.$fw-400,
          calcVWL(24) !important
        );
        // top: calcVWL(5);
      }

      .asLabel {
        top: calcVWL(-20) !important;
        @include font-style(
          calcVWL(13) !important,
          variables.$fw-400,
          normal,
          #8296a5 !important
        );
      }
      // .file {
      //   top: calcVW(0) !important;
      // }
    }
  }

  .floatLabelBorder {
    border-bottom: 1px solid variables.$white;
  }

  @media (max-width: 1024px) {
    .floatLabelBorder {
      padding-bottom: calcVWT(10);
    }

    .asPlaceholder {
      @include font-style(
        calcVWT(18) !important,
        variables.$fw-400,
        calcVWT(24) !important
      );
    }

    .label {
      @include font-style(
        calcVWT(18) !important,
        variables.$fw-400,
        normal,
        #8296a5
      );
    }

    .asLabel {
      top: calcVWT(-18) !important;
      @include font-style(
        calcVWT(13) !important,
        variables.$fw-400,
        normal,
        #8296a5 !important
      );
    }
    .file {
      top: calcVW(20) !important;
    }
  }

  @media (max-width: 576px) {
    .asPlaceholder {
      @include font-style(
        calcVWM(18) !important,
        variables.$fw-400,
        calcVWM(24)
      );
      // top: calcVWM(5) !important;
    }

    .label {
      @include font-style(
        calcVWM(18) !important,
        variables.$fw-400,
        normal !important,
        #8296a5
      );
    }

    .asLabel {
      top: calcVWM(0) !important;
      @include font-style(
        calcVWM(13) !important,
        variables.$fw-400,
        normal,
        #8296a5 !important
      );
    }
  }
}
