@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-filters-styles {
  .filtersMainWrapper {
    background-color: variables.$light-blue;

    .filtersWrapper {
      border-top: 2px solid variables.$main-green;
      border-bottom: 2px solid variables.$main-green;
      align-items: center;
      padding: getFiltersSizes(filters-padding);
      .filterText {
        @include font-style(
          getFiltersSizes(filters-fz),
          variables.$fw-400,
          getFiltersSizes(filters-lh),
          #fff
        );
      }
    }
  }
  .filtersSection {
    @include center-flex();
  }

  .buttonWrapper {
    margin-top: calcVW(70);
    padding-bottom: calcVW(100);
    @include center-flex();

    .firstButton {
      margin-right: calcVW(100);
      margin-left: calcVW(-40);
    }
  }
  @media (max-width: 768px) {
    .filtersSection {
      column-gap: calcVW(40);
      row-gap: calcVW(40);
      padding-top: calcVW(60);
    }
    .filtersWrapper {
      padding: calcVW(60) calcVW(200) !important;
      flex-direction: column;
      align-items: flex-start !important;
      row-gap: calcVW(60);
      :global(.ant-col) {
        column-gap: calcVW(80);
        display: flex;
        flex-wrap: wrap;
        row-gap: calcVW(60);
        font-size: calcVW(80) !important;
        line-height: calcVW(80) !important;
        button {
          margin: 0 !important;
          width: calcVW(260);
          height: calcVW(100);
          font-weight: 500;
          font-size: calcVW(40);
          border: 1px solid rgba(255, 255, 255, 0.8);
          border-radius: 5px;
        }
      }
      :global(.ant-col):nth-last-child(1) {
        justify-content: start;
        padding: 0 calcVW(100);
      }
    }
  }

  .filterCardMainWrapper {
    cursor: pointer;
    margin: calcVW(20);
    .coverImg {
      width: -webkit-fill-available;
      height: calcVW(323);
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
    .wrapper {
      background-color: #def1fa;
      padding: getFiltersSizes(wrapper-padding);
      border-radius: 0 0 5px 5px;

      .prjImg {
        width: getFiltersSizes(img-width);
        height: getFiltersSizes(img-height);
      }
      .textWrapper {
        margin-left: getFiltersSizes(text-wrapper-ml);
        margin-bottom: getFiltersSizes(text-wrapper-mb);

        .title {
          @include font-style(
            getFiltersSizes(title-fz),
            variables.$fw-400,
            getFiltersSizes(title-lh),
            variables.$light-blue
          );
        }

        .subTitle {
          width: getFiltersSizes(subtitle-width);
          @include font-style(
            getFiltersSizes(subtitle-fz),
            variables.$fw-400,
            getFiltersSizes(subtitle-lh),
            #6e90a0
          );
        }
      }

      .desc {
        @include font-style(
          getFiltersSizes(desc-fz),
          variables.$fw-400,
          getFiltersSizes(desc-lh),
          variables.$light-blue-80
        );
      }
    }
    @media (max-width: 768px) {
      flex: 0 0 40%;
      max-width: 40%;

      .coverImg {
        height: calcVW(500);
      }

      .wrapper {
        padding: calcVW(30);

        .prjImg {
          width: calcVW(200);
          height: calcVW(200);
        }

        .textWrapper {
          .title {
            @include font-style(
              getFiltersSizes(text-tablet-title-fs),
              variables.$fw-400,
              getFiltersSizes(text-tablet-title-lh),
              variables.$light-blue
            );
            font-size: getFiltersSizes(text-tablet-title-fz);
          }
        }

        .desc {
          margin: getFiltersSizes(tablet-desc-margin);
          font-size: getFiltersSizes(tablet-desc-fz);
          line-height: getFiltersSizes(tablet-desc-lh);
          @include font-style(
            getFiltersSizes(tablet-desc-fs),
            variables.$fw-400,
            getFiltersSizes(tablet-desc-lh),
            variables.$light-blue-80
          );
        }
      }
    }
  }
  @media (max-width: 576px) {
    .filtersSection {
      row-gap: calcVW(120);
      padding-top: calcVW(200);
    }
    .filtersWrapper {
      :global(.ant-col) {
        justify-content: center !important;
        padding: 0 !important;
        button {
          width: calcVW(350);
          height: calcVW(150);
        }
      }
    }
    .buttonWrapper {
      padding: calcVW(150) 0;
      margin: 0;
    }
  }
}
