@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-service-small-card-styles {
  .serviceCardWrapper {
    width: min-content;
    max-width: max-content;
    border-radius: 5px;
    padding: getServiceCardSizes(serviceCard-wrapper-padding);
    margin-left: getServiceCardSizes(serviceCard-icon-title-wrapper-ml);
    background: variables.$projects-bg;
    .techIconWrapper {
      height: calcVW(80);
      width: calcVW(80);
      border-radius: 5px;
      background: #00ff96;
      transform: rotate(45deg);
      position: absolute;
      bottom: calcVW(133);
      left: calcVW(-40);
      @include flex(center, center);
      .teschnoicalIcon {
        transform: rotate(-45deg);
        height: calcVW(50);
      }
    }
    .title_iconWrapper {
      margin-bottom: getServiceCardSizes(serviceCard-icon-title-wrapper-mb);
      margin-left: getServiceCardSizes(serviceCard-icon-title-wrapper--ml);
      .iconWrapper {
        margin-right: getServiceCardSizes(serviceCard-icon-mr);
        width: getServiceCardSizes(serviceCard-image-width);
        height: getServiceCardSizes(serviceCard-image-height);
        background-repeat: no-repeat;
        background-size: contain;
      }
      .iconWrapperLong {
        width: getServiceCardSizes(serviceCard-image-width-long);
        height: getServiceCardSizes(serviceCard-image-height-long);
        object-fit: cover;
      }
    }
    .title {
      width: getServiceCardSizes(serviceCard-title-width);
      margin: 0 0 0 getServiceCardSizes(serviceCard-desc-ml);
      @include font-style(
        getServiceCardSizes(serviceCard-title-fz),
        variables.$fw-400,
        getServiceCardSizes(serviceCard-title-lh),
        variables.$light-blue
      );
      padding: getServiceCardSizes(serviceCard-title-p) 0;
    }
    .withoutMargin {
      margin: 0;
    }
  }
  .desc {
    width: getServiceCardSizes(serviceCard-desc-width);
    font-weight: 300 !important;
    margin-left: getServiceCardSizes(serviceCard-desc-ml);
    color: variables.$light-blue !important;
    margin-bottom: 10px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include font-style(
      getServiceCardSizes(serviceCard-desc-fz),
      variables.$fw-300,
      getServiceCardSizes(serviceCard-desc-lh),
      #c3d4dc
    );
  }
  .withoutMargin {
    margin: 0;
  }
  @media (max-width: 768px) {
    .serviceCardWrapper {
      margin: 0 calcVW(180);
      max-width: 500px;
      width: 100%;
      padding: calcVW(60);
      .title_iconWrapper {
        .iconWrapper {
          width: 100% !important;
          height: auto !important;
          max-height: 200px !important;
          object-fit: cover;
        }
      }
      .techIconWrapper {
        width: calcVW(160);
        height: calcVW(160);
        bottom: calcVW(290);
        left: calcVW(-80);
        .teschnoicalIcon {
          height: calcVW(100);
        }
      }
      .title {
        font-size: calcVW(60);
        width: auto;
        font-weight: 500;
        margin-top: calcVW(40);
        margin-bottom: calcVW(30) !important;
      }
      .desc {
        width: auto;
        font-size: calcVW(44);
        height: calcVW(170);
        line-height: calcVW(60);
      }
    }
  }
  @media (max-width: 590px) {
    .serviceCardWrapper {
      .title_iconWrapper {
        .iconWrapper {
          max-height: calcVW(650) !important;
        }
      }
    }
  }
}
