@import "../../abstract/functions";
@import "../../base/variables";

$serviceCard-sizes: (
  serviceCard-wrapper-padding: calcVW(20),
  serviceCard-image-width: calcVW(500),
  serviceCard-image-width-long: calcVW(650),
  serviceCard-image-height: calcVW(220),
  serviceCard-image-height-long: calcVW(286),
  serviceCard-image-mr: calcVW(17),
  serviceCard-title-fz: calcVW(28),
  serviceCard-title-lh: calcVW(30),
  serviceCard-title-p: calcVW(16),
  serviceCard-title-m: calcVW(8),
  serviceCard-title-width: calcVW(450),
  serviceCard-desc-fz: calcVW(20),
  serviceCard-desc-lh: calcVW(24),
  serviceCard-desc-width: calcVW(450),
  serviceCard-desc-ml:calcVW(40),
  serviceCard-title-hover-fz: calcVW(35),
  // serviceCard-icon-width: calcVW(80),
  // serviceCard-icon-height: calcVW(80),
);

@function getServiceCardSizes($property) {
  @return map-get($serviceCard-sizes, $property);
}
