@use "../../base/variables";
@import "../../base/mixins";

//To do refactor

@mixin generate-lets-talk-modal-styles {
  .modalFormWrapper {
    display: flex;
    flex-direction: column;
    gap: calcVW(43);

    .textWrapper {
      display: flex;
      flex-direction: column;
      gap: calcVW(16);

      .bigText {
        @include font-style(calcVW(36),
          variables.$fw-500,
          normal,
          variables.$black );
      }

      .smallText {
        @include font-style(calcVW(18),
          variables.$fw-400,
          calcVW(24),
          variables.$black );
      }
    }

    :global(.ant-select) {
      .ant-selectant-selectant-selectant-select {
        width: calcVW(20);
        height: calcVW(20);
      }
    }

    :global(.ant-select-dropdown) {
      background-color: aqua !important;
    }

    :global {
      .ant-form {
        input[type="file"]:focus {
          outline: none;
        }
      }
    }

    .infoSection {
      display: flex;
      flex-direction: column;
      gap: calcVW(16);
      max-width: 50%;
      position: relative;
      z-index: 1;

      .title {
        font-weight: 700;
        font-size: calcVW(20);
        line-height: calcVW(24);
        color: #ffffff;
      }

      .info {
        font-weight: 400;
        font-size: calcVW(18);
        line-height: calcVW(24);
        color: #ffffff;
      }
    }

    .fromButton {
      :global(.ant-form-item):nth-child(7) {
        order: 4;
      }

      :global(.ant-form-item):nth-child(3) {
        order: 5;
      }

      :global(.ant-form-item):nth-child(4) {
        order: 6;
      }

      :global(.ant-form-item):nth-child(6) {
        order: 10;
      }

      :global(.ant-form-item):nth-child(8) {
        order: 8;
      }

      :global(.ant-form-item):nth-child(5) {
        order: 9;
      }

      :global(.ant-form-item):nth-child(9) {
        order: 12;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 100%;
      gap: calcVW(16);
      width: 100%;
      position: relative;
      z-index: 1;

      .buttonWrapper {
        display: flex;
        justify-content: center;

        button {
          @include font-style(getModalFormSizes(button-fz),
            variables.$fw-700,
            getModalFormSizes(button-fl));
        }
      }

      .suffix {
        width: calcVW(24);
      }

      .accept {
        :global(.ant-form-item-control-input-content) {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: calcVW(18);
        }

        :global(.ant-form-item-explain-connected) {
          padding-left: calcVW(65);
        }

        :global(.ant-checkbox-inner) {
          background: transparent !important;
          border-color: black !important;
          width: calcVW(20);
          height: calcVW(20);
          border-width: 2px;

          &::after {
            border: 2px solid #000;
            border-top: 0;
            border-left: 0;
            left: 26.5%;
          }
        }

        .acceptText {
          @include font-style(getPricingModal(text-fz),
            variables.$fw-400,
            getPricingModal(text-fl),
            #000);
        }
      }

      .uploadItem {
        label {
          left: calcVW(28);
        }

        .prefix {
          position: absolute;
          width: calcVW(24);
          height: calcVW(25);
        }
      }

      .uploadedFile {
        color: #e5e5e5 !important;
      }


      :global(.ant-input-affix-wrapper) {
        z-index: 0;
        background: transparent;
        border-bottom: 1px solid white;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 0;
        height: calcVW(35);

        input[type="file"]::-webkit-file-upload-button {
          visibility: hidden;
          display: none;
        }

        input[type="file"]::before {
          content: " ";
          display: inline-block;
          background-size: cover;
          width: 100%;
          height: 100%;
          padding: 10px 0;
          text-align: center;
          cursor: pointer;
        }

        input[type="file"] {
          z-index: 999;
          color: #000 !important;
        }
      }

      :global(.ant-input-affix-wrapper-focused) {
        box-shadow: none;
        border-bottom: 1px solid white;
      }

      :global(.ant-input-suffix) {
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        bottom: 10px;
      }

      .uploadFile {
        color: #e5e5e5;
      }

      .inputSection {
        display: flex;
        flex-direction: column;
        gap: calcVW(32);
        width: 100%;

        :global(.ant-form-item) {
          height: calcVW(48);

          :global(.ant-form-item-row) {
            margin-top: calcVW(13);
          }

          label {
            color: black;
          }

          input {
            color: black;
            border-bottom: 1px solid #000;
            border-radius: unset;

            &:focus {
              box-shadow: none;
            }

            &::before {
              display: none !important;
            }
          }

          input[type="file"] {
            color: transparent;
            padding: calcVW(0) 0 calcVW(8) calcVW(30);
            @include font-style(calcVW(18),
              variables.$fw-400,
              calcVW(24),
              transparent !important);
          }
        }

        :global(.ant-input-status-success) {
          color: #000 !important;
        }

        :global(.ant-input-affix-wrapper-status-success) {
          input[type="file"] {
            color: black !important;
          }
        }
      }

      :global(.ant-input-affix-wrapper-status-success) {
        input[type="file"] {
          color: black !important;
        }
      }


      .filled {
        background-color: aquamarine;
      }

      .focused {
        background-color: aqua;

        :global {
          .ant-form-item-label>label {
            font-size: calcVW(13);
            color: #ffffff;
          }
        }
      }

      :global(.ant-input) {
        position: relative;
        padding: 0 0px calcVW(5) 0;
        width: 100%;
        outline: 0;
        border: 0;
        border-bottom: 1px solid #ffffff;
        transition: box-shadow 150ms ease-out;
        background: transparent;
        color: #ffffff;
        @include font-style(calcVW(18),
          variables.$fw-400,
          calcVW(24),
          variables.$black );

        &:focus {
          box-shadow: 0 2px 0 0 blue;
        }
      }

      :global(.ant-form-item-label) {
        position: absolute;
        left: 0;
        top: 10px;
        color: #999;
        background-color: transparent;
        z-index: 10;
        transition: transform 150ms ease-out, font-size 150ms ease-out;
      }

      .input {
        background: transparent;
        color: #ffffff;
      }

      :global {
        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus {
          background: transparent;
          border-color: none;
          box-shadow: 0 2px 0 0 rgb(207, 39, 39);
        }

        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
          background: transparent;
          border-color: none !important;
        }

        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus {
          border-color: none;
        }

        .ant-form-item-label>label {
          font-size: 16px;
          color: #ffffff;
        }

        .ant-input:focus+.ant-form-item-label>label {
          color: blue;
        }
      }

      .uploadItem {
        .asPlaceholder {
          padding-left: calcVW(30);
        }
      }
    }

    .backImage {
      width: calcVW(1920);
      left: calcVW(-320);
      position: absolute;
      bottom: calcVW(-380);
      height: calcVW(1380);
    }

    @media (max-width: 1024px) {
      .textWrapper {
        gap: calcVWT(16);

        .bigText {
          @include font-style(calcVWT(36),
            variables.$fw-500,
            normal,
            variables.$black );
        }

        .smallText {
          @include font-style(calcVWT(18),
            variables.$fw-400,
            calcVWT(24),
            variables.$black );
        }
      }

      .infoSection {
        padding: 0 calcVWT(50);

        .title {
          font-weight: 500;
          font-size: calcVWT(36);
          line-height: calcVWT(44);
          color: #ffffff;
        }

        .info {
          font-weight: 400;
          font-size: calcVWT(18);
          line-height: calcVWT(24);
          color: #ffffff;
        }
      }

      .form {
        width: 100%;
        width: calcVWT(410);
        max-width: calcVWT(410);

        .buttonWrapper {
          margin: auto;
        }

        :global(.ant-input-affix-wrapper) {
          height: calcVWT(35);
        }

        .suffix {
          width: calcVWT(24);
        }

        .inputSection {
          :global(.ant-form-item) {
            height: calcVWT(48);
            margin-bottom: calcVWT(10);

            label {
              font-size: calcVWT(18);
            }

            :global(.ant-form-item-row) {
              margin-top: calcVWT(13);
            }
          }

          :global(.ant-form-item) {
            input[type="file"] {
              padding: calcVWT(0) 0 calcVWT(8) calcVWT(30);
              font-size: calcVWT(18);
              line-height: calcVWT(24);
            }
          }
        }

        .uploadItem {
          label {
            left: calcVWT(28);
          }

          .prefix {
            width: calcVWT(24);
            height: calcVWT(25);
          }
        }

        :global(.ant-input) {
          padding: calcVWT(12) 0px calcVWT(5) 0;
          border-bottom: 2px solid #ffffff;
          @include font-style(calcVWT(18),
            variables.$fw-400,
            calcVWT(24),
            variables.$black );
        }

        .focused {
          :global {
            .ant-form-item-label>label {
              font-size: calcVWT(13);
            }
          }
        }

        .accept {
          :global(.ant-form-item-control-input-content) {
            gap: calcVWT(18);
          }

          :global(.ant-form-item-explain-connected) {
            padding-left: calcVWT(65);
          }

          :global(.ant-checkbox-inner) {
            width: calcVWT(20);
            height: calcVWT(20);
          }

          .acceptText {
            font-size: calcVWT(18);
            line-height: calcVWT(24);
          }
        }

        :global(.ant-form-item) {
          margin-bottom: calcVWT(20);

          label {
            font-size: calcVWT(13);
            line-height: normal;
          }
        }

        :global(.ant-checkbox-inner) {
          width: calcVWT(20);
          height: calcVWT(20);
        }

        :global(.ant-checkbox-wrapper.ant-checkbox-wrapper-in-form-item input[type="checkbox"]) {
          width: calcVWT(20);
          height: calcVWT(20);
        }
      }
    }

    @media (max-width: 576px) {
      .textWrapper {
        gap: calcVWM(16);

        .bigText {
          @include font-style(calcVWM(36),
            variables.$fw-500,
            normal,
            variables.$black );
        }

        .smallText {
          @include font-style(calcVWM(18),
            variables.$fw-400,
            calcVWM(24),
            variables.$black );
        }
      }

      .inputSection {
        :global(.ant-form-item) {
          height: calcVWM(48);
          margin-bottom: calcVW(10);

          label {
            font-size: calcVW(18);
            line-height: normal;
          }

          :global(.ant-form-item-row) {
            margin-top: calcVWM(13);
          }
        }
      }

      .form {
        width: 100%;
        max-width: 100%;

        :global(.ant-input-affix-wrapper) {
          height: calcVWM(35);
        }

        .suffix {
          width: calcVWM(24);
        }

        :global(.ant-input) {
          padding: calcVWM(12) 0px calcVWM(5) 0;
          border-bottom: 2px solid #ffffff;
          @include font-style(calcVWM(18),
            variables.$fw-400,
            calcVWM(24),
            variables.$black );
        }

        .inputSection {
          :global(.ant-form-item) {
            height: calcVWM(48);
            margin-bottom: calcVWM(10);

            label {
              font-size: calcVWM(13);
              line-height: normal;
            }

            :global(.ant-form-item-row) {
              margin-top: calcVWM(13);
            }
          }

          :global(.ant-form-item) {
            input[type="file"] {
              padding: calcVWM(0) 0 calcVWM(8) calcVWM(30);
              font-size: calcVWM(18);
              line-height: calcVWM(24);
            }
          }
        }

        :global(.ant-form-item) {
          margin-bottom: calcVWM(20);

          label {
            font-size: calcVWM(18);
            line-height: normal;
          }
        }

        .uploadItem {
          label {
            left: calcVWM(30);
          }

          .prefix {
            width: calcVWM(15);
            height: calcVWM(15);
          }
        }

        .accept {
          :global(.ant-form-item-control-input-content) {
            gap: calcVWM(18);
          }

          :global(.ant-form-item-explain-connected) {
            padding-left: calcVWM(15);
          }

          :global(.ant-checkbox-inner) {
            width: calcVWM(20);
            height: calcVWM(20);
          }

          .acceptText {
            font-size: calcVWM(18);
            line-height: calcVWM(24);
          }
        }

        :global(.ant-checkbox) {
          width: calcVWM(20);
          height: calcVWM(20);
        }

        :global(.ant-checkbox-wrapper.ant-checkbox-wrapper-in-form-item input[type="checkbox"]) {
          width: calcVWM(20);
          height: calcVWM(20);
        }

        :global(.ant-checkbox-inner) {
          width: calcVWM(20);
          height: calcVWM(20);
        }
      }
    }
  }
}