@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-terms-item-styles {
  .content {
    width: getTermsSizes(content-width);
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .bottomBlock {
    margin: getTermsSizes(bottom-block-m);
    color: white;

    .blockItemImage {
      img {
        max-width: 100%;
      }
    }

    .title {
      @include font-style(getTermsSizes(title-fz),
        variables.$fw-500,
        getTermsSizes(title-lh),
        #fff);
      margin: calcVW(250) 0 calcVW(32) 0 !important;
    }
    span {
      color: white !important;
    }
  }

  @media (max-width: 1024px) {
    .content {
      width: calcVWT(976);
    }

    .bottomBlock {
      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(43), #fff);
        margin-bottom: calcVWT(32) !important;
      }
    }
  }

  @media (max-width: 576px) {
    .content {
      width: calcVWM(343);
    }

    .bottomBlock {
      .title {
        @include font-style(calcVWM(36), variables.$fw-500, calcVWM(43), #fff);
        margin-bottom: calcVWM(32) !important;
      }
    }
  }
}