@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-services-styles {
  .content {
    width: getServicesSizes(content-width);
    margin: getServicesSizes(content-mt) auto 0 auto;

    .services {
      margin-top:getServicesSizes(services-margin-top) ;
      @include flex(space-between, center, null, wrap);
      width: 100%;
      row-gap: getServicesSizes(services-rg);

      .serviceCard {
        width: getServicesSizes(service-card-width) !important;
        height:getServicesSizes(service-card-height)!important;
        max-width: none !important;
        box-shadow: none !important;

        .iconWrapper {
          width: 100% !important;
        }

        img {
          width: 100% !important;
          height: 100% !important;
        }
      }

      .serviceCard > div {
        width: unset !important;
        height: 100%;
      }
    }
    
    .weKnowSection {
      margin:getServicesSizes(content-we-know-section-margin) ;
    }
  }
}
