@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-services-styles {
  .servicesMainWrapper {
    @include flex(none, none, column);
    .serviceTopWrapper {
      @include flex(space-between, none, row);
      padding: getServicesSizes(service-top-wrapper-padding);
    }
    .leftSecton {
      margin-top: getServicesSizes(service-text-mt);
      height: fit-content;
      position: sticky;
      top: calcVW(300);
    }
    .cardSection {
      @include flex(none, none, column, none);
      row-gap: calcVW(50);
      flex: none;
    }
    .titleWrapper {
      padding: getServicesSizes(services-wrapper-padding) !important;
    }
    .buttonWrapper {
      text-align: center;
    }
    @media (max-width: 768px) {
      .serviceTopWrapper {
        flex-direction: column;
      }
      .leftSecton {
        margin-top: getServicesSizes(service-text-tablet-mt);
        flex-direction: column;
        position: relative;
        top: 0;

        .buttonWrapper {
      margin: calcVW(100) 0;

          button {
            width: calcVW(460);
            height: getServicesSizes(button-height);
            @include font-style(
              calcVW(50),
              variables.$fw-500,
              getButtonSizes(button-text-fl),
              #fff
            );
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .cardSection {
      align-items: center;
    }
  }
}
