@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-projectsCard-styles {
  .projectsCardWrapper {
    padding: getProjectsCardSizes(projectsCard-wrapper-padding);
    background-color: #fff;
    border-radius: getProjectsCardSizes(projectsCard-wrapper-radius);
    position: relative;

    .img {
      width: getProjectsCardSizes(projectsCard-img-width);
      height: getProjectsCardSizes(projectsCard-img-height);
    }

    .textsWrapper {
      padding-left: getProjectsCardSizes(projectsCard-texts-wrapper-pl);
      .title {
        margin-bottom: getProjectsCardSizes(projectsCard-title-mb);
        @include font-style(
          getProjectsCardSizes(projectsCard-title-fz),
          variables.$fw-400,
          getProjectsCardSizes(projectsCard-title-lh),
          variables.$main-dark-blue
        );
      }
      .desc {
        @include font-style(
          getProjectsCardSizes(projectsCard-desc-fz),
          variables.$fw-400,
          getProjectsCardSizes(projectsCard-desc-lh),
          #6e90a0
        );
      }
    }

    .moreWrapper {
      position: relative;
      left: 80%;
      .more {
        @include font-style(
          getProjectsCardSizes(projectsCard-more-fz),
          variables.$fw-400,
          getProjectsCardSizes(projectsCard-more-lh),
          variables.$main-blue
        );
        transition: 0.3s;
        &:hover {
          @include font-style(
            getProjectsCardSizes(projectsCard-more-hover-fz),
            variables.$fw-700,
            getProjectsCardSizes(projectsCard-more-lh),
            variables.$main-blue
          );
        }
        img {
          width: getProjectsCardSizes(projectsCard-more-img-width);
          height: getProjectsCardSizes(projectsCard-more-img-height);
        }
      }
    }
  }
  @media (max-width: 768px) {
    .projectsCardWrapper {
      width: 100%;
      max-width: 100% !important;
      .img {
        width: calcVW(200);
        height: calcVW(200);
      }
      .textsWrapper {
        .title {
          line-height: calcVW(60);
          font-size: calcVW(60);
        }
        .desc {
          font-size: calcVW(40);
          line-height: calcVW(50);
          max-width: calcVW(400);
        }
      }
    }
  }
}
