@import "../../abstract/functions";
@import "../../base/variables";

$projectsCard-sizes: (
  projectsCard-wrapper-padding: calcVW(34) calcVW(8) calcVW(30) calcVW(20),
  projectsCard-wrapper-radius: calcVW(5),
  projectsCard-img-width: calcVW(100),
  projectsCard-img-height: calcVW(100),
  projectsCard-texts-wrapper-pl: calcVW(19),
  projectsCard-title-fz: calcVW(24),
  projectsCard-title-lh: calcVW(28),
  projectsCard-title-mb: calcVW(15),
  projectsCard-desc-fz: calcVW(20),
  projectsCard-desc-lh: calcVW(23),
  projectsCard-more-fz: calcVW(22),
  projectsCard-more-lh: calcVW(26),
  projectsCard-more-img-width: calcVW(10),
  projectsCard-more-img-height: calcVW(16),
  projectsCard-more-hover-fz: calcVW(23),
  projectsCard-more-hover-lh: calcVW(27),
);

@function getProjectsCardSizes($property) {
  @return map-get($projectsCard-sizes, $property);
}
