@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-testimonials-item-styles {
  .testimonialsMainWrapper {
    padding: getTestimonialsItemSizes(testimonials-item-wrapper-padding);
    display: flex;
    justify-content: space-around;

    .testimonialsWrapper {
      @include testimonials-item-wrapper;
      @include testimonials-item-text;
    }
  }
}

@mixin testimonials-item-text {
  .imgWrapper {
    position: relative;
    .img {
      position: absolute;
      right: getTestimonialsItemSizes(testimonials-image-right);
      top: getTestimonialsItemSizes(testimonials-image-top);
      width: getTestimonialsItemSizes(testimonials-image-width);
      height: getTestimonialsItemSizes(testimonials-image-height);
    }
  }

  .imgWrapperEven {
    position: relative;
    .img {
      position: absolute;
      left: getTestimonialsItemSizes(testimonials-image-left);
      top: getTestimonialsItemSizes(testimonials-image-top);
      width: getTestimonialsItemSizes(testimonials-image-width);
      height: getTestimonialsItemSizes(testimonials-image-height);
    }
  }
  .testimonialsTextWrapper {
    width: getTestimonialsItemSizes(testimonials-text-wrapper-width);
    padding: getTestimonialsItemSizes(testimonials-text-wrapper-padding);
    .desc {
      padding-bottom: getTestimonialsItemSizes(testimonials-text-desc-pb);
      @include font-style(
        getTestimonialsItemSizes(testimonials-item-desc-fz),
        variables.$fw-400,
        getTestimonialsItemSizes(testimonials-item-desc-lh),
        variables.$sea-blue
      );
    }

    .author {
      text-align: end;
      @include font-style(
        getTestimonialsItemSizes(testimonials-item-author-fz),
        variables.$fw-700,
        getTestimonialsItemSizes(testimonials-item-author-lh),
        variables.$sea-blue
      );
    }
  }

  .testimonialsTextWrapperEven {
    width: getTestimonialsItemSizes(testimonials-text-wrapper-width);
    padding: getTestimonialsItemSizes(testimonials-text-wrapper-even-padding);
    .desc {
      padding-bottom: getTestimonialsItemSizes(testimonials-text-desc-pb);
      @include font-style(
        getTestimonialsItemSizes(testimonials-item-desc-fz),
        variables.$fw-400,
        getTestimonialsItemSizes(testimonials-item-desc-lh),
        variables.$sea-blue
      );
    }

    .author {
      text-align: end;
      @include font-style(
        getTestimonialsItemSizes(testimonials-item-author-fz),
        variables.$fw-700,
        getTestimonialsItemSizes(testimonials-item-author-lh),
        variables.$sea-blue
      );
    }
  }
}

@mixin testimonials-item-wrapper {
  background-color: white;
  border-radius: getTestimonialsItemSizes(testimonials-main-br);
  width: getTestimonialsItemSizes(testimonials-main-width);
}
