@import "../../abstract/functions";
@import "../../base/variables";

$testimonials-item-sizes: (
  testimonials-item-wrapper-padding: calcVW(59) calcVW(0) calcVW(36) calcVW(0),
  testimonials-item-title-pb: calcVW(12),
  testimonials-item-desc-fz: calcVW(20),
  testimonials-item-desc-lh: calcVW(24),
  testimonials-item-author-fz: calcVW(15),
  testimonials-item-author-lh: calcVW(18),
  testimonials-image-left: calcVW(30),
  testimonials-image-right: calcVW(40),
  testimonials-image-top: calcVW(-30),
  testimonials-image-width: calcVW(100),
  testimonials-image-height: calcVW(100),
  testimonials-text-wrapper-width: calcVW(397),
  testimonials-text-wrapper-padding: calcVW(48) calcVW(0) calcVW(30) calcVW(0),
  testimonials-text-desc-pb: calcVW(14),
  testimonials-text-wrapper-even-padding: calcVW(48) calcVW(0) calcVW(30)
    calcVW(51),
  testimonials-main-br: calcVW(5),
  testimonials-main-width: calcVW(900),
);

@function getTestimonialsItemSizes($property) {
  @return map-get($testimonials-item-sizes, $property);
}
