@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-industry-styles {
  .mainWrapper {
    @include flex(null, center, row);
    width: getIndustrySizes(main-wrapper-width);
    height: getIndustrySizes(main-wrapper-height);
    padding: getIndustrySizes(main-wrapper-padding);
    gap: getIndustrySizes(main-wrapper-gap);
    border-radius: 16px;
    background: variables.$transparent-black;
    cursor: pointer;
  }

  .mainWrapper:hover {
    border: 1px solid variables.$dodger-blue;
  }

  .checkbox {
    :global(.ant-checkbox-input) {
      &:focus {
        border: $main-white !important;
        .ant-checkbox-inner {
          border-color: $main-white !important;
        }
      }
    }
    :global(.ant-checkbox-inner) {
      background-color: transparent;
      border: 1px solid $main-white;
      border-color: $main-white !important;
      border-radius: 5px;
      &:active {
        border-color: transparent !important;
        background-color: transparent !important;
        border: none !important;
      }
    }
    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: transparent !important;
      border-color: transparent !important;
    }
    :global(.ant-checkbox-checked::after) {
      border: none !important;
    }
    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: $transparent-black;
      border-color: $transparent-black;
    }
  }

  .nameSpecialist {
    @include flex(null, center);
    text-align: center;
    cursor: pointer;
    @include font-style(
      getIndustrySizes(name-specialist-fz),
      variables.$fw-500,
      getIndustrySizes(name-specialist-lh)
    );
  }

  .moreWrapper {
    @include flex(center, row, null);
    width: max-content;
    border-radius: 16px;
    background-color: variables.$transparent-black;
    padding: getIndustrySizes(more-wrapper-padding);
    gap: getIndustrySizes(more-wrapper-gap);
    cursor: pointer;
  }
  .moreWrapper:hover {
    border: 1px solid variables.$dodger-blue;
  }
}
