@import "../../abstract/functions";
@import "../../base/variables";

$industry-sizes: (
  industry-col-width: calcVW(302),
  industry-col-height: calcVW(56),
  industry-main-padding: calcVW(16),
  industry-main-gap: calcVW(16),
  name-text-width: calcVW(88),
  name-text-height: calcVW(24),
  name-text-fz: calvVW(14),
  name-text-lh: calcVW(24),
);

@function getIndustrySizes($property) {
  @return map-get($industry-sizes, $property);
}
