@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-stack-footer-styles {
  .footer {
    bottom: 0;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.12);
    left: 0;
    max-width: none;
    padding: calcVW(64);
    position: fixed;
    transform: translateY(150%);
    transition: margin-bottom 0.5s ease, transform 0.5s ease;
    width: 100%;
    z-index: 101;
    transform: translateY(0);
    height: calcVW(248);
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    justify-content: space-between;

    .footerContent {
      display: flex;
      flex-direction: column;
      gap: calcVW(16);
      padding: 0 calcVW(32);

      .footerTitle {
        @include font-style(
          calcVW(36),
          variables.$fw-500,
          calcVW(44),
          variables.$black
        );

        @media (max-width: 1024px) {
          @include font-style(
            calcVWT(36),
            variables.$fw-500,
            calcVWT(40),
            variables.$black
          );
        }

        @media (max-width: 576px) {
          @include font-style(
            calcVWM(36),
            variables.$fw-500,
            calcVWM(40),
            variables.$black
          );
        }
      }
      .items {
        .itemWrapper {
          display: flex;
          align-items: center;
          gap: calcVW(14);
          width: max-content;
          padding: calcVW(5);

          .item {
            @include font-style(
              calcVW(20),
              variables.$fw-500,
              calcVW(24),
              variables.$black
            );

            @media (max-width: 1024px) {
              @include font-style(
                calcVWT(20),
                variables.$fw-500,
                calcVWT(24),
                variables.$black
              );
            }

            @media (max-width: 576px) {
              @include font-style(
                calcVWM(20),
                variables.$fw-500,
                calcVWM(24),
                variables.$black
              );
            }
          }

          .icon {
            cursor: pointer;
            width: calcVW(12);
            height: calcVW(12);

            @media (max-width: 1024px) {
              width: calcVWT(12);
              height: calcVWT(12);
            }

            @media (max-width: 576px) {
              width: calcVWM(12);
              height: calcVWM(12);
            }
          }
        }

        @media (max-width: 576px) {
          flex-direction: column;
          gap: calcVWM(8);
        }
      }
    }
    .buttonWrapper {
      @media (max-width: 1024px) {
      }
      @media (max-width: 576px) {
        width: 100%;
        display: flex;
        justify-content: end;

        button {
          width: unset;
          height: unset;
          padding: calcVWM(8) calcVWM(32);
          border-radius: calcVWM(8);

          @include font-style(
            calcVWM(20),
            variables.$fw-700,
            calcVWM(24),
            variables.$white
          );
        }
      }
    }

    @media (max-width: 576px) {
      height: unset;
      gap: calcVWM(24);
    }
  }
}
