@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-home-main-texts-styles {
  .contentWrapper{
    max-height: 300px;
    overflow: hidden;
  }
  
  .bigTextWrapper {
    height: fit-content;
    position: relative;

    .title {
      @include font-style(
        getHomeMainTextsSizes(home-main-title-fz),
        variables.$fw-400,
        getHomeMainTextsSizes(home-main-title-lh)
      );
    }

    .ellipsisText{
      text-overflow: ellipsis;
    }

    .firstSubtitle {
      @include font-style(
        getHomeMainTextsSizes(home-main-first-text-fz),
        variables.$fw-300,
        getHomeMainTextsSizes(home-main-first-text-lh)
      );
      margin-top: getHomeMainTextsSizes(home-main-first-text-mt);
    }
    @media (max-width: 1024px) {
      .title {
        @include font-style(
          calcVWT(36),
          variables.$fw-500,
          calcVWT(44)
        );
      }
      .firstSubtitle {

        @include font-style(
          calcVWT(24),
          variables.$fw-400,
          calcVWT(32)
        );
        margin-top: calcVWT(25);
      }
    }
  }
}
