@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-home-main-texts-styles {
  .bigTextWrapper {
    height: fit-content;
    position: relative;

    .title {
      @include font-style(
        getHomeMainTextsSizes(home-main-title-fz),
        variables.$fw-400,
        getHomeMainTextsSizes(home-main-title-lh)
      );
    }

    .firstSubtitle {
      @include font-style(
        getHomeMainTextsSizes(home-main-first-text-fz),
        variables.$fw-300,
        getHomeMainTextsSizes(home-main-first-text-lh)
      );
      margin-top: getHomeMainTextsSizes(home-main-first-text-mt);
    }
  }
}
