@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-portfolio-main-styles {
  .content {
    width: getPortfolioMainSizes(content-width);
    margin: getPortfolioMainSizes(content-mt) auto 0 auto;
    .contentDescription {
      margin-left: calcVW(24);
    }
    .portfoliosSection {
      margin-top: calcVW(88);
    }
    .knowMoreSection {
      margin: calcVW(384) 0;
    }
  }
}
//TO Do refactor Calc
