@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-portfolio-main-styles {
  .portfolioMainWrapper {
    background-color: variables.$white;
    min-height: getPortfolioMainSizes(portfolio-main-wrapper-height);
    padding: getPortfolioMainSizes(portfolio-main-wrapper-padding);
    padding-bottom: calcVW(78);
    .text {
      padding: getPortfolioMainSizes(portfolio-main-text-padding);
      @include font-style(
        getPortfolioMainSizes(portfolio-main-text-fz),
        variables.$fw-300,
        getPortfolioMainSizes(portfolio-main-text-lh)
      );
    }
  }
  .mainPage {
    padding: getPortfolioMainSizes(portfolio-main-wrapper-padding-page);
  }
  .bottomCarouselSectionMainWrapper {
    border-top: 2px solid variables.$main-green;
    // padding: calcVW(0) calcVW(220);
    padding: calcVW(72) calcVW(220) calcVW(130) calcVW(220);
    background-color: variables.$main-dark-blue;

    .buttonWrapper {
      margin-top: calcVW(88);
      @include center-flex();
      button {
        margin-left: calcVW(50);
        margin-right: calcVW(50);
      }
    }
    .bottomCarouselItemWrapper {
      cursor: pointer;
      border-radius: calcVW(15);
      background: #def1fa;
      padding: calcVW(36) calcVW(19) calcVW(39) calcVW(19);
      margin: calcVW(0) calcVW(40);
      justify-content: center;
      align-items: center;
      .imgWrapper {
        margin-right: calcVW(18);
        .img {
          width: calcVW(75);
          height: calcVW(75);
        }
      }
    }
    .textWrapper {
      .title {
        @include font-style(calcVW(25), variables.$fw-400, calcVW(30), variables.$main-dark-blue);
      }
      .desc {
        width: calcVW(257);
        @include font-style(calcVW(18), variables.$fw-400, calcVW(21), #6e90a0);
      }
    }
  }
  @media (max-width: 768px) {
    .bottomCarouselSectionMainWrapper {
      padding: calcVW(150) 0;
      .buttonWrapper {
        padding-top: calcVW(60);
      }
      .bottomCarouselItemWrapper {
        justify-content: start;
        padding: calcVW(60);

        .imgWrapper {
          margin-right: calcVW(18);
          .img {
            width: calcVW(200);
            height: calcVW(200);
          }
        }
        .textWrapper {
          .title {
            @include font-style(calcVW(50), variables.$fw-400, calcVW(50), variables.$main-dark-blue);
          }
          .desc {
            width: calcVW(400);
            @include font-style(calcVW(45), variables.$fw-400, calcVW(45), #6e90a0);
          }
        }
      }
    }
    .mainPage {
      display: inline-block;
      height: 100%;
      padding: 0;
      :global(.slick-track) {
        display: flex;
        gap: calcVW(90);
      }
    }
    .portfolioMainWrapper {
      padding: 0;
      .text {
        padding: 0 calcVW(200);
      }
      .text > p {
        font-size: calcVW(60);
        line-height: calcVW(70);
      }
      .text > div {
        font-size: calcVW(60);
        line-height: calcVW(70);
      }
      .text > p > span {
        font-size: calcVW(60);
        line-height: calcVW(70);
      }
    }
  }
}
