@import "../../abstract/functions";
@import "../../base/variables";

$portfolio-main-sizes: (
  portfolio-main-wrapper-padding-page: calcVW(100) calcVW(270) calcVW(100) calcVW(270),
  portfolio-main-wrapper-padding: calcVW(28) calcVW(0) calcVW(28) calcVW(263),
  portfolio-main-wrapper-height: calcVW(585),
  portfolio-main-text-padding: calcVW(89) calcVW(280) calcVW(0) calcVW(0),
  portfolio-main-text-fz: calcVW(22),
  portfolio-main-text-lh: calcVW(26),
);

@function getPortfolioMainSizes($property) {
  @return map-get($portfolio-main-sizes, $property);
}
