@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-blogs-styles {
  .content {
    width: getBlogsSizes(content-width);
    margin: getBlogsSizes(content-mt) auto 0 auto;

    .blogsSection {
      margin: calcVW(88) 0 calcVW(320);
    }
  }
}
