@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-blogs-styles {
  .blogsMainWrapper {
    .titleWrapperSmall {
      display: none;
    }
    .blogsCards {
      @include flex(center, none, row);
      row-gap: getBlogsSizes(blogs-row-gap);
      column-gap: getBlogsSizes(blogs-column-gap);
    }
    @include flex(none, none, column);
    .blogTopWrapper {
      @include flex(space-between, none, row);
      padding: getBlogsSizes(blogs-top-wrapper-padding);
    }
    .leftSecton {
      margin-top: getBlogsSizes(blogs-text-mt);
      height: fit-content;
    }
    .cardSection {
      @include flex(none, none, column, none);
      row-gap: getBlogsSizes(blogs-card-section-rg);
      flex: none;
    }
    .titleWrapper {
      padding: getBlogsSizes(blogs-wrapper-padding) !important;
    }
    .buttonWrapper {
      @include flex(center, none, row);
      text-align: center;
      margin: getBlogsSizesblogs-button-wrapper-mt(blogs-button-wrapper-mt);
      column-gap: getBlogsSizes(blogs-buttons-column-gap);
    }
  }
  @media (max-width: 768px) {
    .blogsMainWrapper {
      .titleWrapperSmall {
        @include center-flex();
        padding:getBlogsSizes(blogs-title-wrapper-small-p);
      }
    }
  }
}
