@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-homeMain-styles {
  .MainWrapper {
    width: getHomeMainSizes(home-main-title-width);

    .buttonWrapper {
      margin-top: getHomeMainSizes(home-main-button-wrapper-mt);
    }
    .button {
      display: flex;
      gap: 10px;
      background: transparent;
      @include font-style(calcVW(18), variables.$fw-700, calcVW(20));
      width: max-content;
      padding: 0;
      align-items: center;

      .btnImg {
        width: calcVW(18);
        height: calcVW(20);
      }
    }
    @media (max-width: 1024px) {
      width: calcVWT(880);
    }
    @media (max-width: 576px) {
      margin-bottom: calcVWM(90);
      .buttonWrapper {
        margin-top: calcVWM(20);
      }
    }
  }
  .prtfolioItemBlock {
    @media (max-width: 576px) {
      margin-bottom: calcVWM(20);
      width: 100%;
    }
  }
  .prtfolioItemDescBlock {
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  @media only screen and (max-width: 1440px) and (min-width: 1024px) {
    .MainWrapper {
      width: calcVWL(810);

      .buttonWrapper {
        margin-top: calcVWL(24);
      }
      .button {
        @include font-style(calcVWL(18), variables.$fw-700, calcVWL(20));

        .btnImg {
          width: calcVWL(18);
          height: calcVWL(20);
        }
      }
    }
  }
}
