@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-homeMain-styles {
  .MainWrapper {
    width: getHomeMainSizes(home-main-title-width);

    .buttonWrapper {
      margin-top: getHomeMainSizes(home-main-button-wrapper-mt);
    }
    @media (max-width: 1024px) {
      width: calcVWT(880);
    }
    @media (max-width: 576px) {
      margin-bottom: calcVWM(90);
      .buttonWrapper {
        margin-top: calcVWM(20);
      }
    }
  }
}
