@import "../../abstract/functions";
@import "../../base/variables";

$homeMain-sizes: (
  home-main-wrapper-padding: calcVW(183) calcVW(0) calcVW(130) calcVW(230),
  home-main-wrapper-padding-mobile: calcVW(400) calcVW(0) calcVW(250)
    calcVW(100),
  home-main-wrapper-mt: calcVW(50),
  home-main-button-wrapper-mt: calcVW(116),
  home-main-button-wrapper-ml: calcVW(-115),
  home-main-button-wrapper-bg-size: calcVW(960) calcVW(1250),
  home-main-button-tablet-wrapper-ml: calcVW(-40),
);

@function getHomeMainSizes($property) {
  @return map-get($homeMain-sizes, $property);
}
