@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-discuss-project-stack-styles {
  .content {
    width: getDiscussProjectStackSizes(content-width);
    margin: getDiscussProjectStackSizes(content-mt) auto 0 auto;

    .discussProject {
      margin: calcVW(200) 0 calcVW(320);

      .form {
        display: flex;
        flex-direction: column;
        gap: calcVW(32);

        .buttons {
          display: flex;
          gap: calcVW(16);
          margin-top: calcVW(60);
          .grayTextBtn {
            &:focus-visible {
              outline: none;
            }
            &:focus-within {
              box-shadow: none;
            }
            border-style: unset;
            width: unset;
            background: rgba(0, 0, 0, 0.32);
            @include font-style(calcVW(13), variables.$fw-700, calcVW(19), rgba(255, 255, 255, 0.32));
            border-radius: calcVW(8);
            padding: calcVW(8) calcVW(32);
            border: 1px solid rgba(255, 255, 255, 0.32);
            cursor: pointer;
            height: unset;
            &:hover {
              background: variables.$light-blue;
              @include font-style(calcVW(13), variables.$fw-700, calcVW(19), variables.$black);
            }
            &::before {
              background-color: unset;
            }
            @media (max-width: 768px) {
            }
          }
          a:last-of-type {
            button {
              background: variables.$light-blue;
              @include font-style(calcVW(13), variables.$fw-700, calcVW(19), variables.$black);
            }
          }
        }

        .industryDetails {
          display: flex;
          flex-direction: column;
          gap: calcVW(90);

          .industries {
            display: flex;
            flex-direction: column;
            gap: calcVW(30);

            .title {
              @include font-style(calcVW(20), variables.$fw-700, calcVW(24));
            }

            .checkboxes {
              display: flex;
              flex-wrap: wrap;
              gap: calcVW(24);
            }

            .specialistWrapper {
              display: flex;
              flex-wrap: wrap;
              gap: calcVW(66);

              .stacks {
                display: flex;
                flex-direction: column;
                gap: calcVW(24);
              }

              .stackName {
                @include font-style(calcVW(20), variables.$fw-700, calcVW(24), variables.$dodger-blue);
              }
            }

            .stackWrapper {
              display: flex;
              flex-wrap: wrap;
              gap: calcVW(83);

              .stacks {
                display: flex;
                flex-direction: column;
                gap: calcVW(24);
              }

              .stackName {
                @include font-style(calcVW(20), variables.$fw-700, calcVW(24), variables.$dodger-blue);
              }
            }

            .monthsWrapper {
              display: flex;
              justify-content: space-between;

              .month {
                @include font-style(calcVW(14), variables.$fw-500, calcVW(24));
              }
            }
          }
        }
      }
    }
  }
}
