@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-header-styles {
  .headerWrapper {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    padding: getHeaderSizes(header-wrapper-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16.5px);
    width: 100%;
    z-index: 999;
    .img {
      width: calcVW(90);
      height: calcVW(40);
    }
    .pricing {
      display: flex;
      align-items: center;
      margin-right: calcVW(-340);
      margin-left: calcVW(260);
    }
    .menuWrapper {
      display: flex;
      .socialIconsWrapper {
        display: none;
      }
      .menuSecondItemBlock {
        display: flex;
      }
      .menuItem {
        margin-top: calcVW(-40);
        opacity: 0;
        position: relative;
        align-self: center;

        .menuItemTitle {
          img {
            transition: 0.3s;
            width: calcVW(16);
            height: calcVW(10);
            margin-left: calcVW(16);
            transform: rotate(180deg);
          }
          cursor: pointer;
          margin: getHeaderSizes(header-menu-item-margin);
          // transition: 0.4s;
          @include font-style(
            getHeaderSizes(header-menu-item-fz),
            variables.$fw-400,
            getHeaderSizes(header-menu-item-lh),
            variables.$main-white
          );
          &:hover {
            color: variables.$light-blue;
            transition: 0.4s;
          }
        }
        .menuItemChildMainWrapper {
          display: flex;
          position: absolute;
          flex-wrap: wrap;
          width: calcVW(648);
          top: getHeaderSizes(header-menu-item-child-main-wrapper-top);
          background: rgba(0, 0, 0, 0.5);
          padding: calcVW(24);
          border-radius: 0 0 calcVW(16) calcVW(16);

          .menuItemChildWrapper {
            width: calcVW(300);
            padding: getHeaderSizes(header-menu-item-child-wrapper-padding);
            align-items: center;
            column-gap: calcVW(16);
            cursor: pointer;
            border-bottom: 1px solid transparent;
            .activeElem {
              display: none;
            }
            .disActiveElem {
              display: block;
            }
            &:hover {
              border-radius: calcVWT(8);
              border: 1px solid variables.$main-dark-blue;
              .activeElem {
                display: block;
              }
              .disActiveElem {
                display: none;
              }
              transition: 0.3s;
            }
            // transition: 0.4s;
            @include font-style(
              getHeaderSizes(header-menu-item-child-fz),
              variables.$fw-400,
              normal
            );
          }
        }
      }

      .menuItem0 {
        animation: slide 0.4s 0s linear forwards;
      }
      .menuItem1 {
        animation: slide 0.4s 0.1s linear forwards;
      }
      .menuItem2 {
        animation: slide 0.4s 0.2s linear forwards;
      }
      .menuItem3 {
        animation: slide 0.4s 0.3s linear forwards;
      }
      .menuItem4 {
        animation: slide 0.4s 0.4s linear forwards;
      }
      .menuItem5 {
        animation: slide 0.4s 0.5s linear forwards;
      }
      .menuItem6 {
        animation: slide 0.4s 0.6s linear forwards;
      }
      .closedMenu {
        .menuItemTitle {
          img {
            transition: 0.3s;
            transform: rotate(0deg);
          }
        }
        .menuItemChildMainWrapper {
          padding: calcVW(0);
        }
      }
    }
    .buttonWrapperMobile {
      display: none;
    }

    .buttonWrapper {
      margin-left: getHeaderSizes(header-button-wrapper-ml);
    }
    .menuImage {
      display: none;
    }
  }

  .headerWrapperScroll {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    padding: getHeaderSizes(header-wrapper-padding-scroll);
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }

  @keyframes slide {
    100% {
      opacity: 1;
      margin-top: calcVW(0);
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .headerWrapper {
      padding: calcVWL(20) calcVWL(100);
      .img {
        width: calcVWL(90);
        height: calcVWL(40);
      }
      .pricing {
        margin-right: calcVWL(-154);
        margin-left: calcVWL(100);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .menuWrapper {
        .menuItem {
          margin-top: calcVWL(-40);
          .menuItemTitle {
            img {
              width: calcVWL(16);
              height: calcVWL(10);
              margin-left: calcVWL(16);
            }
            cursor: pointer;
            margin: calcVWL(16);
            @include font-style(
              calcVWL(20),
              variables.$fw-400,
              calcVWL(23),
              variables.$main-white
            );
          }
          .menuItemChildMainWrapper {
            width: calcVWL(648);
            top: calcVWL(75);
            padding: calcVWL(24);
            border-radius: 0 0 calcVWL(16) calcVWL(16);

            .menuItemChildWrapper {
              width: calcVWL(300);
              padding: calcVWL(16) calcVWL(16);
              column-gap: calcVWL(16);
              &:hover {
                border-radius: calcVWL(8);
              }
              // transition: 0.4s;
              @include font-style(calcVWL(14), variables.$fw-700, normal);
            }
          }
        }
        .closedMenu {
          .menuItemChildMainWrapper {
            padding: calcVWL(0);
          }
        }
      }
      .buttonWrapper {
        margin-left: calcVWL(16);
      }
    }

    .headerWrapperScroll {
      padding: calcVWL(50) calcVWL(100);
    }
  }
  @media (max-width: 1024px) {
    .mainWraperBlock {
      height: max-content;
      max-height: calc(100vh);
    }
    .headerWrapper {
      position: fixed;
      padding: calcVWT(24);
      height: calcVWT(88);
      transition: height 0.3s ease;
      .menuImage {
        display: block;
        width: calcVWT(24);
        height: calcVWT(24);
      }
      .img {
        width: calcVWT(90);
        height: calcVWT(40);
      }
      .menuWrapper:first-of-type {
        width: calcVWT(490);
        justify-content: space-between;
      }

      .pricing {
        margin-right: calcVWT(-168);
        margin-top: calcVWT(-5);
        margin-left: calcVWT(78);
      }
      .menuWrapper {
        transition: height 0.3s ease;
        height: calcVWT(24);
        flex-wrap: wrap;
        .buttonWrapper {
          margin-right: calcVWT(24);
          margin-left: 0;
        }
        .menuItem {
          .menuItemChildMainWrapper {
            .menuItemChildWrapper {
              height: 0;
              overflow: hidden;
              padding: 0;
              transition: height 1s ease, padding 1s ease;
            }
          }
          &:nth-child(5) {
            display: none;
          }
          &:nth-child(3) {
            display: none;
          }
          .menuItemTitle {
            img {
              width: calcVWT(16);
              height: calcVWT(10);
              margin-left: calcVWT(16);
            }
            @include font-style(
              calcVWT(20),
              variables.$fw-400,
              calcVWT(20),
              variables.$main-white
            );
          }
        }
        .menuSecondItemBlock {
          .menuItem {
            &:nth-child(2) {
              display: none;
            }
          }
        }
        .socialIconsWrapper {
          transition: 0.3s;
          height: 0;
          overflow: hidden;
        }
      }
    }
    .openHeaderWrapper {
      position: relative;
      transition: height 0.3s ease;
      background: rgba(0, 0, 0, 0.5);
      .pricing {
        margin: 0;
      }
      .menuWrapper:first-of-type {
        transition: height 0.3s ease;
        justify-content: space-between;
        align-items: flex-start;
        padding: calcVWT(40) calcVWT(24) 0 calcVWT(24);
        height: calc(100vh - calcVWT(88));
        width: 100%;
        left: 0;
        top: calcVWT(88);
        background: #020d1c;
        position: absolute;
        .menuItem {
          position: relative;
          z-index: 10;
          width: calcVWT(304);
          align-self: flex-start;
          .menuItemChildMainWrapper {
            display: flex;
            flex-direction: column;
            background: transparent;
            top: calcVWT(64);
            .menuItemChildWrapper {
              height: calcVWT(64);
              display: flex !important;
              width: 100%;
              column-gap: calcVWT(16);
              align-items: center;
              padding: calcVWT(16);
              transition: height 1s ease, padding 1s ease;
              @include font-style(
                calcVWT(14),
                variables.$fw-700,
                calcVWT(20),
                variables.$main-white
              );
              .activeElem {
                display: none;
              }
              .disActiveElem {
                display: block;
              }
              &:hover {
                border-radius: calcVWT(8);
                border: 1px solid variables.$main-dark-blue;
                .activeElem {
                  display: block;
                }
                .disActiveElem {
                  display: none;
                }
              }
            }
          }
        }
        .menuSecondItemBlock {
          position: relative;
          z-index: 10;
          width: calcVWT(240);
          flex-direction: column;
          row-gap: calcVWT(32);
          .menuItem {
            width: 100%;
            display: block;
          }
        }
        .socialIconsWrapper {
          transition: 0.3s;
          height: calcVWT(110);
          margin-top: auto;
          column-gap: calcVWT(32);
          flex-wrap: wrap;
          display: flex;
          width: calc(100% + calcVWT(48));
          padding: calcVWT(24);
          margin-left: calcVWT(-24);
          row-gap: calcVWT(16);
          background: rgba(0, 0, 0, 0.5);
          backdrop-filter: blur(16.5px);
          max-width: calc(100% + calcVWT(48));
          min-width: calc(100% + calcVWT(48));
          .socialIconsTitle {
            width: 100%;
            @include font-style(
              calcVWT(18),
              variables.$fw-700,
              calcVWT(21),
              variables.$main-white
            );
          }
          .socialIcons {
            width: calcVWT(25);
            height: calcVWT(25);
            object-fit: cover;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .headerWrapper {
      height: calcVWM(88);
      padding: calcVWM(24);
      .img {
        width: calcVWM(90);
        height: calcVWM(40);
      }
      .menuWrapper {
        position: absolute;
        height: max-content;
        flex-direction: column;
        right: calcVWM(24);
        top: calcVWM(32);
        .menuImage {
          width: calcVWM(24);
          height: calcVWM(24);
        }
        .menuItem {
          width: 100% !important;
          .menuItemChildMainWrapper {
            width: 100%;
          }
          .menuItemTitle {
            img {
              width: calcVWM(16);
              height: calcVWM(10);
              margin-left: calcVWM(16);
            }
            @include font-style(
              calcVWM(20),
              variables.$fw-400,
              calcVWM(20),
              variables.$main-white
            );
          }
          .menuItemChildMainWrapper {
            .menuItemChildWrapper {
              @include font-style(
                calcVWM(20),
                variables.$fw-400,
                calcVWM(20),
                variables.$main-white
              );
            }
          }
        }
      }
      .menuWrapper:first-of-type {
        display: none;
        position: unset;
        min-width: calc(100% + calcVWM(48));
        margin-left: calcVWM(-24);
        margin-top: calcVWM(24);
        padding: calcVWM(40) calcVWM(24);
        .socialIconsWrapper {
          height: calcVWM(110);
          column-gap: calcVWM(32);
          width: calc(100% + calcVWM(48));
          padding: calcVWM(24);
          margin-left: calcVWM(-24);
          row-gap: calcVWM(16);
          backdrop-filter: blur(16.5px);
          max-width: calc(100% + calcVWM(48));
          min-width: calc(100% + calcVWM(48));
          .socialIconsTitle {
            @include font-style(
              calcVWM(18),
              variables.$fw-700,
              calcVWM(21),
              variables.$main-white
            );
          }
          .socialIcons {
            width: calcVWM(25);
            height: calcVWM(25);
          }
        }
      }
    }
    .openHeaderWrapper {
      flex-wrap: wrap;
      position: relative;
      height: max-content;
      .menuWrapper:first-of-type {
        height: max-content;
        display: flex;
        row-gap: calcVWM(32);
        height: max-content;
        flex-direction: column;
        top: calcVWM(88);
        padding-bottom: 0;
        .menuItem {
          width: 100% !important;
          .menuItemChildMainWrapper {
            width: 100%;
          }
          .menuItemTitle {
            @include font-style(
              calcVWM(20),
              variables.$fw-400,
              calcVWM(20),
              variables.$main-white
            );
          }
          .menuItemChildMainWrapper {
            position: inherit;

            .menuItemChildWrapper {
              height: calcVWM(64);
              @include font-style(
                calcVWM(20),
                variables.$fw-400,
                calcVWM(20),
                variables.$main-white
              );
            }
          }
        }
        .closedMenu {
          .menuItemChildMainWrapper {
            .menuItemChildWrapper {
              transition: 0.2s;
              height: 0;
              overflow: hidden;
              padding: 0;
            }
            transition: 0.2s;
            row-gap: 0;
          }
        }
        .menuSecondItemBlock {
          row-gap: calcVWM(32);
          width: 100%;
        }
      }
    }
  }
}
