@import "../../abstract/functions";
@import "../../base/variables";

$header-sizes: (
  header-wrapper-padding: calcVW(20) calcVW(100),
  header-wrapper-padding-scroll: calcVW(50) calcVW(100),
  header-logo-width: calcVW(112),
  header-logo-height: calcVW(50),
  header-menu-item-margin: calcVW(16),
  header-button-wrapper-ml: calcVW(16),
  header-menu-item-child-main-wrapper-top: calcVW(57),
  header-menu-item-child-wrapper-padding: calcVW(12) calcVW(32)
    calcVW(13),
  header-menu-item-child-margin: calcVW(16),
  header-menu-item-child-fz: calcVW(16),
  header-menu-item-child-lh: calcVW(19),
  header-menu-item-fz: calcVW(20),
  header-menu-item-lh: calcVW(23),
);

@function getHeaderSizes($property) {
  @return map-get($header-sizes, $property);
}
