@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./abstract/functions";

* {
  font-family: Montserrat !important;
}

body {
  margin: 0;
  padding: 0;
  // @media (max-width: 768px) {
  //   padding-top: calcVW(250);
  // }
  background-color: #020d1c !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}

.ant-carousel .slick-dots {
  top: 100%;

  li {
    width: 3.2291708vw;
  }

  li.slick-active {
    width: 3.2291708vw;
  }

  li button {
    background-color: #d9d9d9 !important;
    opacity: 1;
  }

  li.slick-active button {
    background-color: #3787e7 !important;
  }
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 10px;
  background-color: #def1fa80;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #aad8ec;
  border-radius: 5px;
}

.ant-dropdown-open {
  background: #000000;
  border-radius: calcVWM(16) calcVWM(16) 0 0;
}

.ant-dropdown-menu {
  padding: 0 !important;
}

.ant-modal {
  top: 60px !important;
}

.ant-tooltip {
  z-index: 998 !important;
}

.ant-tooltip-inner {
  padding: calcVW(24) calcVW(30) calcVW(14) calcVW(30) !important;
  border-radius: calcVW(16) !important;
  width: calcVW(387);
  min-height: calcVW(254) !important;
  margin-bottom: calcVW(20);

  p {
    font-size: calcVW(18);
  }
}

.ant-tooltip-placement-top {
  display: flex !important;
  justify-content: center;
  padding-bottom: 30px;
}

.ant-tooltip-arrow {
  margin-bottom: calcVW(20);
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .ant-tooltip-inner {
    padding: calcVWL(24) calcVWL(30) calcVWL(14) calcVWL(30) !important;
    border-radius: calcVWL(16) !important;
    width: calcVWL(387);
    min-height: calcVWL(254) !important;

    p {
      font-size: calcVWL(18);
    }
  }
}

@media (max-width: 1024px) {
  .ant-tooltip-inner {
    padding: calcVWT(24) calcVWT(30) calcVWT(14) calcVWT(30) !important;
    border-radius: calcVWT(16) !important;
    width: calcVWT(388);
    margin-top: calcVWT(30);

    p {
      font-size: calcVWT(18);
    }
  }
}

@media (max-width: 1024px) and (min-width: 577px) {
  .ant-tooltip-inner {
    margin-top: calcVWT(73);
    min-height: calcVWT(254) !important;
  }

  .ant-tooltip-content {
    width: calcVWT(388);
  }

  .ant-tooltip {
    left: calcVWT(92) !important;
  }

  .ant-tooltip-arrow {
    top: 20% !important;
  }
}

@media (max-width: 576px) {
  .ant-tooltip-inner {
    padding: calcVWM(24) calcVWM(26) calcVWM(26) !important;
    border-radius: calcVWM(16) !important;
    width: calcVWM(343);

    p {
      font-size: calcVWM(18);
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


input[type="file"] {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before {
    content: " "; 
    display: inline-block;
    color: #fff;
    cursor: pointer;
  }

  
}