@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import "./abstract/functions";

* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  // @media (max-width: 768px) {
  //   padding-top: calcVW(250);
  // }
  background-color: #020d1c !important;
}
h1, h2, h3, h4, h5, h6 {
  color: white !important;
}

@font-face {
  font-family: nunito;
  src: url(../assets/fonts/nunito-regular.ttf);
}

.ant-carousel .slick-dots {
  top: 100%;

  li {
    width: 3.2291708vw;
  }

  li.slick-active {
    width: 3.2291708vw;
  }

  li button {
    background-color: #d9d9d9 !important;
    opacity: 1;
  }

  li.slick-active button {
    background-color: #3787e7 !important;
  }
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 10px;
  background-color: #def1fa80;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #aad8ec;
  border-radius: 5px;
}

.ant-dropdown-open {
  background: #000000;
  border-radius: calcVWM(16) calcVWM(16) 0 0;
}

.ant-dropdown-menu {
  padding: 0 !important;
}
